<div class="partners-data">
  <div class="partners-data__tags">
    <% for(var i=0; i < env.tags.length; i++) { %>
      <sl-tag 
        variant=<%= env.tags[i].active ? 'primary' :'neutral' %>
        data=<%= env.tags[i].value %>
        class="partners-data__tag"
      >
        <%= env.tags[i].text %>
      </sl-tag>
    <% } %>
  </div>
  <div class="partners-data__info">
    <div class="partners-category">
      <div class="partners-category__title">category1</div>
      <ul class="partners-category__list">
        <li class="partners-category__item"><a href="category-link1" class="partners-category__link">category-link1</a></li>
        <li class="partners-category__item"><a href="category-link1" class="partners-category__link">category-link1</a></li>
        <li class="partners-category__item"><a href="category-link2" class="partners-category__link">category-link2</a></li>
        <li class="partners-category__item"><a href="category-link3" class="partners-category__link">category-link3</a></li>
        <li class="partners-category__item"><a href="category-link4" class="partners-category__link">category-link4</a></li>
        <li class="partners-category__item"><a href="category-link5" class="partners-category__link">category-link5</a></li>
        <li class="partners-category__item"><a href="category-link6" class="partners-category__link">category-link6</a></li>
        <li class="partners-category__item"><a href="category-link7" class="partners-category__link">category-link7</a></li>
        <li class="partners-category__item"><a href="category-link8" class="partners-category__link">category-link8</a></li>
        <li class="partners-category__item"><a href="category-link9" class="partners-category__link">category-link9</a></li>
        <li class="partners-category__item"><a href="category-link10" class="partners-category__link">category-link10</a></li>
      </ul>
    </div>
    <div class="partners-category">
      <div class="partners-category__title">category2</div>
      <ul class="partners-category__list">
        <li class="partners-category__item"><a href="category-link1" class="partners-category__link">category-link1</a></li>
        <li class="partners-category__item"><a href="category-link2" class="partners-category__link">category-link2</a></li>
        <li class="partners-category__item"><a href="category-link3" class="partners-category__link">category-link3</a></li>
        <li class="partners-category__item"><a href="category-link4" class="partners-category__link">category-link4</a></li>
        <li class="partners-category__item"><a href="category-link5" class="partners-category__link">category-link5</a></li>
        <li class="partners-category__item"><a href="category-link6" class="partners-category__link">category-link6</a></li>
        <li class="partners-category__item"><a href="category-link7" class="partners-category__link">category-link7</a></li>
        <li class="partners-category__item"><a href="category-link8" class="partners-category__link">category-link8</a></li>
        <li class="partners-category__item"><a href="category-link9" class="partners-category__link">category-link9</a></li>
        <li class="partners-category__item"><a href="category-link10" class="partners-category__link">category-link10</a></li>
      </ul>
    </div>
    <div class="partners-category">
      <div class="partners-category__title">category3</div>
      <ul class="partners-category__list">
        <li class="partners-category__item"><a href="category-link1" class="partners-category__link">category-link1</a></li>
        <li class="partners-category__item"><a href="category-link2" class="partners-category__link">category-link2</a></li>
        <li class="partners-category__item"><a href="category-link3" class="partners-category__link">category-link3</a></li>
        <li class="partners-category__item"><a href="category-link4" class="partners-category__link">category-link4</a></li>
        <li class="partners-category__item"><a href="category-link5" class="partners-category__link">category-link5</a></li>
        <li class="partners-category__item"><a href="category-link6" class="partners-category__link">category-link6</a></li>
        <li class="partners-category__item"><a href="category-link7" class="partners-category__link">category-link7</a></li>
        <li class="partners-category__item"><a href="category-link8" class="partners-category__link">category-link8</a></li>
        <li class="partners-category__item"><a href="category-link9" class="partners-category__link">category-link9</a></li>
        <li class="partners-category__item"><a href="category-link10" class="partners-category__link">category-link10</a></li>
      </ul>
    </div>
    <div class="partners-category">
      <div class="partners-category__title">category4</div>
      <ul class="partners-category__list">
        <li class="partners-category__item"><a href="category-link1" class="partners-category__link">category-link1</a></li>
        <li class="partners-category__item"><a href="category-link2" class="partners-category__link">category-link2</a></li>
        <li class="partners-category__item"><a href="category-link3" class="partners-category__link">category-link3</a></li>
        <li class="partners-category__item"><a href="category-link4" class="partners-category__link">category-link4</a></li>
        <li class="partners-category__item"><a href="category-link5" class="partners-category__link">category-link5</a></li>
        <li class="partners-category__item"><a href="category-link6" class="partners-category__link">category-link6</a></li>
        <li class="partners-category__item"><a href="category-link7" class="partners-category__link">category-link7</a></li>
        <li class="partners-category__item"><a href="category-link8" class="partners-category__link">category-link8</a></li>
        <li class="partners-category__item"><a href="category-link9" class="partners-category__link">category-link9</a></li>
        <li class="partners-category__item"><a href="category-link10" class="partners-category__link">category-link10</a></li>
      </ul>
    </div>
    <div class="partners-category">
      <div class="partners-category__title">category5</div>
      <ul class="partners-category__list">
        <li class="partners-category__item"><a href="category-link1" class="partners-category__link">category-link1</a></li>
        <li class="partners-category__item"><a href="category-link2" class="partners-category__link">category-link2</a></li>
        <li class="partners-category__item"><a href="category-link3" class="partners-category__link">category-link3</a></li>
        <li class="partners-category__item"><a href="category-link4" class="partners-category__link">category-link4</a></li>
        <li class="partners-category__item"><a href="category-link5" class="partners-category__link">category-link5</a></li>
        <li class="partners-category__item"><a href="category-link6" class="partners-category__link">category-link6</a></li>
        <li class="partners-category__item"><a href="category-link7" class="partners-category__link">category-link7</a></li>
        <li class="partners-category__item"><a href="category-link8" class="partners-category__link">category-link8</a></li>
        <li class="partners-category__item"><a href="category-link9" class="partners-category__link">category-link9</a></li>
        <li class="partners-category__item"><a href="category-link10" class="partners-category__link">category-link10</a></li>
      </ul>
    </div>
    <div class="partners-category">
      <div class="partners-category__title">category6</div>
      <ul class="partners-category__list">
        <li class="partners-category__item"><a href="category-link1" class="partners-category__link">category-link1</a></li>
        <li class="partners-category__item"><a href="category-link2" class="partners-category__link">category-link2</a></li>
        <li class="partners-category__item"><a href="category-link3" class="partners-category__link">category-link3</a></li>
        <li class="partners-category__item"><a href="category-link4" class="partners-category__link">category-link4</a></li>
        <li class="partners-category__item"><a href="category-link5" class="partners-category__link">category-link5</a></li>
        <li class="partners-category__item"><a href="category-link6" class="partners-category__link">category-link6</a></li>
        <li class="partners-category__item"><a href="category-link7" class="partners-category__link">category-link7</a></li>
        <li class="partners-category__item"><a href="category-link8" class="partners-category__link">category-link8</a></li>
        <li class="partners-category__item"><a href="category-link9" class="partners-category__link">category-link9</a></li>
        <li class="partners-category__item"><a href="category-link10" class="partners-category__link">category-link10</a></li>
      </ul>
    </div>
    <div class="partners-category">
      <div class="partners-category__title">category7</div>
      <ul class="partners-category__list">
        <li class="partners-category__item"><a href="category-link1" class="partners-category__link">category-link1</a></li>
        <li class="partners-category__item"><a href="category-link2" class="partners-category__link">category-link2</a></li>
        <li class="partners-category__item"><a href="category-link3" class="partners-category__link">category-link3</a></li>
        <li class="partners-category__item"><a href="category-link4" class="partners-category__link">category-link4</a></li>
        <li class="partners-category__item"><a href="category-link5" class="partners-category__link">category-link5</a></li>
        <li class="partners-category__item"><a href="category-link6" class="partners-category__link">category-link6</a></li>
        <li class="partners-category__item"><a href="category-link7" class="partners-category__link">category-link7</a></li>
        <li class="partners-category__item"><a href="category-link8" class="partners-category__link">category-link8</a></li>
        <li class="partners-category__item"><a href="category-link9" class="partners-category__link">category-link9</a></li>
        <li class="partners-category__item"><a href="category-link10" class="partners-category__link">category-link10</a></li>
      </ul>
    </div>
    <div class="partners-category">
      <div class="partners-category__title">category8</div>
      <ul class="partners-category__list">
        <li class="partners-category__item"><a href="category-link1" class="partners-category__link">category-link1</a></li>
        <li class="partners-category__item"><a href="category-link2" class="partners-category__link">category-link2</a></li>
        <li class="partners-category__item"><a href="category-link3" class="partners-category__link">category-link3</a></li>
        <li class="partners-category__item"><a href="category-link4" class="partners-category__link">category-link4</a></li>
        <li class="partners-category__item"><a href="category-link5" class="partners-category__link">category-link5</a></li>
        <li class="partners-category__item"><a href="category-link6" class="partners-category__link">category-link6</a></li>
        <li class="partners-category__item"><a href="category-link7" class="partners-category__link">category-link7</a></li>
        <li class="partners-category__item"><a href="category-link8" class="partners-category__link">category-link8</a></li>
        <li class="partners-category__item"><a href="category-link9" class="partners-category__link">category-link9</a></li>
        <li class="partners-category__item"><a href="category-link10" class="partners-category__link">category-link10</a></li>
      </ul>
    </div>
    <div class="partners-category">
      <div class="partners-category__title">category9</div>
      <ul class="partners-category__list">
        <li class="partners-category__item"><a href="category-link1" class="partners-category__link">category-link1</a></li>
        <li class="partners-category__item"><a href="category-link2" class="partners-category__link">category-link2</a></li>
        <li class="partners-category__item"><a href="category-link3" class="partners-category__link">category-link3</a></li>
        <li class="partners-category__item"><a href="category-link4" class="partners-category__link">category-link4</a></li>
        <li class="partners-category__item"><a href="category-link5" class="partners-category__link">category-link5</a></li>
        <li class="partners-category__item"><a href="category-link6" class="partners-category__link">category-link6</a></li>
        <li class="partners-category__item"><a href="category-link7" class="partners-category__link">category-link7</a></li>
        <li class="partners-category__item"><a href="category-link8" class="partners-category__link">category-link8</a></li>
        <li class="partners-category__item"><a href="category-link9" class="partners-category__link">category-link9</a></li>
        <li class="partners-category__item"><a href="category-link10" class="partners-category__link">category-link10</a></li>
      </ul>
    </div>
    <div class="partners-category">
      <div class="partners-category__title">category10</div>
      <ul class="partners-category__list">
        <li class="partners-category__item"><a href="category-link1" class="partners-category__link">category-link1</a></li>
        <li class="partners-category__item"><a href="category-link2" class="partners-category__link">category-link2</a></li>
        <li class="partners-category__item"><a href="category-link3" class="partners-category__link">category-link3</a></li>
        <li class="partners-category__item"><a href="category-link4" class="partners-category__link">category-link4</a></li>
        <li class="partners-category__item"><a href="category-link5" class="partners-category__link">category-link5</a></li>
        <li class="partners-category__item"><a href="category-link6" class="partners-category__link">category-link6</a></li>
        <li class="partners-category__item"><a href="category-link7" class="partners-category__link">category-link7</a></li>
        <li class="partners-category__item"><a href="category-link8" class="partners-category__link">category-link8</a></li>
        <li class="partners-category__item"><a href="category-link9" class="partners-category__link">category-link9</a></li>
        <li class="partners-category__item"><a href="category-link10" class="partners-category__link">category-link10</a></li>
      </ul>
    </div>
  </div>
</div>
