<sl-dialog label="" class="dialog-common dialog-free-quote">
  <!-- <div id="sectionMainForm"></div> -->
  <button class="icon-menu icon-menu_open" slot="header-actions">
  </button>
  <%- include('templates/layouts/forms/getFreeQuoteForm/getFreeQuoteForm.ejs') %>
</sl-dialog>