<div class="partners-data">
  <div class="partners-data__tags">
    <% if (env.tags) { %>
      <% for(var i=0; i < env.tags.length; i++) { %>
      <sl-tag variant=<%= env.tags[i].active ? 'primary' :'neutral' %> data-value=<%= env.tags[i].value %> class="partners-data__tag">
        <%= env.tags[i].text %>
      </sl-tag>
      <% } %>
    <% } %>
  </div>
  <div class="partners-data__info">
    <% if (env.categoryContent) { %><%- env.categoryContent %><% } %>
  </div>
</div>