<sl-dialog label="" class="dialog-common dialog-classup">
  <!-- <div id="sectionMainForm"></div> -->
  <button class="icon-menu icon-menu_open" slot="header-actions">
  </button>
  <%- include('templates/layouts/dialog/dialogClassUpContent.ejs') %>
</sl-dialog>
