<sl-dialog label="Dialog" class="dialog-flight">
  <!-- <div id="sectionMainForm"></div> -->
  <span slot="label"></span>
  <button class="icon-menu icon-menu_open" slot="header-actions">
  </button>
   <%- include('templates/layouts/dialog/dialogFlightNewNav.ejs') %>
</sl-dialog>