<sl-dialog label="Our partners" class="dialog-common dialog-partners">
  <button class="icon-menu icon-menu_open" slot="header-actions">
  </button>
  <!-- <%- include('templates/components/inputs/slInput.ejs', { 
    env: { 
      classes: 'search-panel', 
      id: 'partnersSearchPanel',
      placeholder: 'Search company', 
      prefixPath: 'templates/layouts/dialog/searchIcon.ejs',
      autocomplete: true 
    } 
  }) %> -->
  
</sl-dialog>