<nav class="nav">
  <ul class="nav__list">
    <li class="nav__item">
      <a href="#" class="nav__link">
        About Us
      </a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">
        Destinations
      </a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">
        How to book
      </a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">
        Reviews
      </a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">
        Contacts
      </a>
    </li>
  </ul>
</nav>