<nav class="nav">
  <%- include('templates/components/menu/menu.ejs', {
    env: {
      static: 'true',
      classes: 'nav__list',
      items: [
        {
          link: {
            text: 'About Us',
            href: '/aboutus'
          }
        },
        {
          link: {
            text: 'Destinations',
            href: 'https://flyer-club.com/p/bestdeals/'
          }
        },
        {
          link: {
            text: 'How to book',
            href: '/booking'
          }
        },
        {
          link: {
            text: 'Reviews',
            href: '/reviews'
          }
        },
        {
          link: {
            text: 'Contacts',
            href: '/contacts'
          }
        },
      ]
    }
  })%>
</nav>