<nav class="nav">
  <%- include('templates/components/menu/menu.ejs', {
    env: {
      classes: 'nav__list',
      items: [
        {
          text: 'About Us',
          href: '/aboutus'
        },
        {
          text: 'Destinations',
          href: 'https://flyer-club.com/p/bestdeals/'
        },
        {
          text: 'How to book',
          href: '/booking'
        },
        {
          text: 'Reviews',
          href: '/reviews'
        },
        {
          text: 'Contacts',
          href: '/contacts'
        },
      ]
    }
  })%>
</nav>