<sl-tab-group class="nav">
  <sl-tab slot="nav" panel="general">
    <a class="link" href="/">Home</a>
  </sl-tab>
  <sl-tab slot="nav" panel="custom">
    <a class="link" href="/pages/booking/index.html">Booking</a>
  </sl-tab>

  <sl-tab-panel name="general">This is the home page.</sl-tab-panel>
  <sl-tab-panel name="custom">This is the booking page.</sl-tab-panel>
</sl-tab-group>
<ol>
  <li>
    <%- include('templates/components/button.ejs', { env: { content: 'Get a Quote' } }) %>
  </li>
  <br>
  <li>
    <%- include('templates/components/slButton.ejs', { env: { content: 'Shoelace modal' , classes: 'sl-button' , } }) %>
  </li>
</ol>


<%- include('templates/layouts/preloader.ejs') %>

<!-- Placeholder for the form -->
<div class="company-partners" id="sectionMainForm">
  <div id="sectionMainForm"></div>
</div>
<img src="./assets/images/castle.png" alt="castle" >