<p class="form__text">
  *I give consent to the processing of my personal data given in the contact form above under the terms and conditions
  of
  <a href="https://flyer-club.com/privacypolicy/">Privacy Policy</a>
</p>
