  <!-- navigation buttons -->
  <div class="swiper-button-prev">
    <img src="/icons/rounded-chevron-left.svg" alt="rounded-chevron-left">
  </div>
  <div class="swiper-button-next">
    <img src="/icons/rounded-chevron-right.svg" alt="rounded-chevron-right">

  </div>