@font-face {
  font-family: 'iconsFont';
  src: url('../fonts/iconsFont/icomoon.eot');
  src:
    url('../fonts/iconsFont/icomoon.eot') format('embedded-opentype'),
    url('../fonts/iconsFont/icomoon.ttf') format('truetype'),
    url('../fonts/iconsFont/icomoon.woff') format('woff'),
    url('../fonts/iconsFont/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  font-family: 'iconsFont';
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.show {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.icon-direct-flight:before {
  content: '\e90c';
}

.icon-airplane-2:before {
  content: '\e900';
}

.icon-round-trip:before {
  content: '\e923';
}

.icon-double-arrow:before {
  content: '\e90e';
  color: #006dd2;
}

.icon-calendar:before {
  content: '\e906';
  color: #57606a;
}

.icon-arrow-bottom:before {
  content: '\e901';
  color: #57606a;
}

.icon-delete:before {
  content: '\e90b';
  color: #006dd2;
}

.company-partners > .section-special-offer-main {
  position: relative;
  top: 40px;
  margin: 0 auto;
  border-radius: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1276px;
  width: 90%;
  padding: 28px 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 32px;
  background: #fff;
  -webkit-box-shadow: 2px 2px 20px 0px rgba(128, 169, 208, 0.16);
  box-shadow: 2px 2px 20px 0px rgba(128, 169, 208, 0.16);
  z-index: 20;
}

.section-special-offer-main > .save-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  position: absolute;
  right: 0px;
  top: 0;
  border-radius: 0px 24px;
  background: #0a74d7;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  color: #fffdfd;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-transform: uppercase;
}

.form-valid-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}

.fly-trip-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 28px;
}

.fly-trip-types .fly-trip-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  gap: 0 5px;
  cursor: pointer;
  color: #3e4c5b;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.8;
}

.fly-trip-types .fly-trip-type .icon {
  line-height: 0;
}

.fly-trip-types .fly-trip-type.active {
  color: #006dd2;
}

.fly-trip-types .fly-trip-type .icon {
  font-size: 30px;
}

.fly-trip-types .fly-trip-type h3 {
  font-weight: 500;
  line-height: 24px;
}

.fly-trip-types .fly-trip-type-block input {
  display: none;
}

.fly-trip-types .fly-trip-type-block label {
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-field-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  gap: 16px;
  position: relative;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.field_calendar > .flex_decoration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  gap: 14px;
  position: relative;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.fly-trip-pane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  gap: 16px;
  position: relative;
}

.field_calendar,
.flex_decoration,
.fly-trip-pane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
}

.field_calendar {
  width: 60%;
  gap: 14px;
}

.fly-trip-content {
  width: 100%;
}

.block-city-row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
  width: 40%;
}

.block_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
}

.block_input > .name_block {
  color: black;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  opacity: 0.8;
}

.block_input > .class_field,
.block_input > .date,
.block_input > .passenger_field,
.block_input > .search-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  padding: 8px 8px 8px 8px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  border-radius: 8px;
  background: rgba(0, 109, 210, 0.1);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.block_input > .date input,
.block_input > .search-input input {
  background: #e5f0fa;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  padding: 8px 4px 8px 4px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  font-size: 16px;
  width: 100%;
}

.block_input > .date input::-webkit-input-placeholder,
.block_input > .search-input input::-webkit-input-placeholder {
  color: #7c8089;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.block_input > .date input::-moz-placeholder,
.block_input > .search-input input::-moz-placeholder {
  color: #7c8089;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.block_input > .date input:-ms-input-placeholder,
.block_input > .search-input input:-ms-input-placeholder {
  color: #7c8089;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.block_input > .date input::-ms-input-placeholder,
.block_input > .search-input input::-ms-input-placeholder {
  color: #7c8089;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.block_input > .date input::placeholder,
.block_input > .search-input input::placeholder {
  color: #7c8089;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.field > .flex {
  position: relative;
}

.from_airplane_img {
  position: absolute;
  right: 4px;
  top: 15px;
  width: 25px;
  height: 24px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.to_airplane_img {
  position: absolute;
  right: 4px;
  top: 15px;
  width: 25px;
  height: 24px;
}

.fly-trip-content .fly-trip-pane .container-field .btn_switch {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  border: 1px solid var(--black-8, #ecedee);
  background: var(--white, #fffdfd);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  padding: 5px 2px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  z-index: 20;
  cursor: pointer;
}

.air-datepicker-cell.-selected-,
.air-datepicker-cell.-selected-.-current-,
.air-datepicker-cell.-selected-.-focus- {
  color: #fff;
  background: #2d9aff !important;
}

.block_input > .date {
  position: relative;
}

.date .input-group-addon {
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 16px;
  color: #57606a;
}

.tab-content .tab-pane .container-field .field_calendar .flex .field .disabled {
  opacity: 0.5 !important;
}

.tab-content .tab-pane .container-field .field_calendar .flex .field .disabled .input-group-addon {
  display: none;
}

.block_input > .class_field,
.block_input > .passenger_field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.block_input > .class_field > .block_input__class,
.block_input > .passenger_field > .block_input__passenger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 5px;
  font-size: 16px;
  color: black;
}

.field {
  min-width: 140px;
  width: 50%;
}

.field.drop {
  display: block;
  position: relative;
  cursor: pointer;
  min-width: 160px;
  width: 100%;
}

.block-drop-down {
  display: none;
  position: absolute;
  z-index: 30;
  left: 0;
  background: #fff;
  border-radius: 10px;
  width: 100%;
  color: #7c8089;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 5px;
  padding: 8px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.block-drop-down .passenger {
  padding: 0 15px;
}

.block-drop-down .class_f {
  padding: 0 15px;
}

.block-drop-down .passenger .passenger_field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 8px 0;
}

.block-drop-down .class_f .class_field:first-child,
.block-drop-down .passenger .passenger_field:first-child {
  margin-top: 0;
}

.block-drop-down .passenger .passenger_field .field__inf p {
  font-weight: 600;
  font-size: 14px;
  color: var(--gray-0290, #424242);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.block-drop-down .passenger .passenger_field .field__inf p.field__inf__aged {
  color: var(--gray-0290, #424242);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.quantity_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 26px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.field__num {
  width: 40%;
}

.quantity_inner .bt_minus,
.quantity_inner .bt_plus,
.quantity_inner .quantity {
  height: 20px;
  width: 15px;
  padding: 0;
  border: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
  outline: 0;
}

.quantity_inner .quantity {
  width: 15px;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  color: #242424;
}

.quantity_inner .bt_minus,
.quantity_inner .bt_plus {
  color: #006dd2;
  font-weight: 300;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: auto;
  height: auto;
}

.quantity_inner_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 13px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.class_field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.class_field .form_radio_btn {
  display: inline-block;
  line-height: 20px;
}

.class_field .form_radio_btn input {
  display: none;
}

.class_field .form_radio_btn input:checked + label {
  color: #006dd2;
}

.class_field .form_radio_btn label {
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  padding: 5px 0;
  color: var(--gray-0290, #424242);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.class_field .form_radio_btn label:hover {
  background: var(--primary-blue-5, #f2f5fe);
}

.class_field h4 {
  font-weight: 600;
  line-height: 24px;
}

.class_field .type_business {
  border-right: 1px solid #ffffff;
  padding-right: 10px;
}

.class_field .type_first {
  padding-left: 10px;
}

.active_radio {
  color: #006dd2;
}

.drops_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  width: 50%;
}

.search-input .autocom-box {
  border-radius: 0 0 12px 12px;
  max-height: 240px;
  overflow: auto;
  position: relative;
  z-index: 400 !important;
}

.drop-passenger-title {
  color: var(--gray-0290, #424242);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.block_photo {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.block_photo.open {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

@media (max-width: 575px) {
  .search-input .autocom-box {
    max-height: 180px;
  }
}

.search-input .autocom-box.active {
  border-top: 1px solid rgba(0, 109, 210, 0.12);
  padding: 0 0;
}

@media (max-width: 575px) {
  .search-input .autocom-box.active {
    padding: 0;
  }
}

.search-input .autocom-box::-webkit-scrollbar {
  width: 20px;
  background-color: #f4f8fd;
  border-radius: 0 0 12px 0;
}

.search-input .autocom-box::-webkit-scrollbar-thumb {
  background-color: rgba(0, 109, 210, 0.32);
  border: 9px solid #f4f8fd;
}

.search-input .autocom-box li {
  list-style: none;
  padding: 5px 20px;
  display: none;
  width: 100%;
  cursor: default;
  font-size: 14px;
  background: #f4f8fd;
}

.search-input .autocom-box li h4 {
  font-weight: 600;
  line-height: 24px;
  color: #242424 !important;
  margin: 0 !important;
  padding: 0 !important;
}

@media (max-width: 575px) {
  .search-input .autocom-box li h4 {
    line-height: 18px;
  }
}

.search-input .autocom-box li h5 {
  font-weight: 400;
  line-height: 24px;
  color: rgba(36, 36, 36, 0.72);
  text-align: left;
}

@media (max-width: 575px) {
  .search-input .autocom-box li h5 {
    line-height: 18px;
  }
}

.search-input .autocom-box li:hover {
  background: #d7e6f9;
  cursor: pointer;
}

.search-input .autocom-box li:hover h4 {
  color: #006dd2 !important;
}

.search-input .autocom-box li:hover h5 {
  color: rgba(0, 109, 210, 0.72) !important;
}

.search-input.active .autocom-box {
  opacity: 1;
  pointer-events: auto;
  position: absolute;
  width: 100%;
  top: 100%;
  z-index: 10;
}

.search-input.active .autocom-box li {
  display: block;
}

.search-input.active .autocom-box li h5 {
  text-align: left;
}

.btn_add {
  margin-top: 0;
  cursor: pointer;
}

.btn_add h3 {
  font-weight: 500;
  color: #006dd2;
  border-bottom: 1px solid #006dd2;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 0px;
  height: 8px;
  display: inline-block;
}

.block_to_delete_flight {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  min-width: 140px;
  width: 50%;
}

.block_to_delete_flight h3 {
  color: #006dd2;
  border-bottom: 1px solid #006dd2;
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
}

.btn_delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.btn_delete .icon {
  margin-right: 5px;
  color: #006dd2;
}

.input_return:disabled {
  text-decoration: line-through;
}

.btn-main-form {
  max-width: 268px;
}

.form-main-btn-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 1100px) {
  .fly-trip-pane {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .section-special-offer-main > .save-up {
    font-size: 16px;
    line-height: 100%;
    padding: 12px 14px;
  }

  .field.drop {
    width: 100%;
  }

  h3 {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .block-drop-down .passenger .passenger_field .field__inf p {
    font-size: 12px;
  }
}

@media (max-width: 575px) {
  .fly-trip-types .fly-trip-type {
    gap: 0;
  }
}

@media (max-width: 950px) {
  .block-city-row {
    width: 100%;
  }

  .field_calendar {
    width: 100%;
  }

  .field_calendar > .flex_decoration {
    width: 66%;
  }

  .drops_container {
    width: 33%;
  }

  .block_to_delete_flight {
    width: auto;
  }

  .container-field-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .field {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .fly-trip-types .fly-trip-type .icon {
    display: none;
  }

  #sectionFillQuote .section-special-offer-main .form-valid-tab .fly-trip-types .fly-trip-type .icon {
    display: block;
  }

  .section-special-offer-main > .save-up {
    font-size: 14px;
    line-height: 100%;
    padding: 8px 10px;
  }
}

@media (max-width: 625px) {
  .fly-trip-types {
    gap: 0 15px;
    margin: 5px 0;
  }

  .field_calendar > .flex_decoration {
    width: 100%;
  }

  .section-special-offer-main > .save-up {
    display: none;
  }

  .block-city-row > .city > .flex > .block_photo {
    display: none;
  }

  .field.drop {
    min-width: 0;
  }

  .passengers_drop {
    min-width: 0;
  }

  .fly-trip-types .fly-trip-type {
    font-size: 16px;
  }

  .form-valid-tab {
    gap: 10px;
  }

  .drops_container {
    width: 100%;
  }

  .field_calendar {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .company-partners > .section-special-offer-main {
    padding: 20px 12px;
  }

  .company-partners > .section-special-offer-main {
    top: 0;
    border-radius: 24px;
  }
}

#sectionFillQuote .section-special-offer-main .form-valid-tab .fly-trip-types .fly-trip-type {
  font-size: 16px;
}

#sectionFillQuote .section-special-offer-main .form-valid-tab .container-field .field_calendar .flex-two-fields .field {
  width: 100%;
  min-width: 160px;
}

#sectionFillQuote .section-special-offer-main .form-valid-tab .container-field .field_calendar .flex {
  width: 100%;
  min-width: 160px;
}

#sectionFillQuote .section-special-offer-main .form-valid-tab .container-field .field_calendar .flex .field .iti input {
  width: 100%;
  padding-left: 50px;
  color: black;
}

#sectionFillQuote {
  width: 100%;
  max-width: 628px;
  padding: 32px 24px;
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 24px;
  background: #fff;
  -webkit-box-shadow: 6px 4px 16px 0px rgba(213, 213, 213, 0.2);
  box-shadow: 6px 4px 16px 0px rgba(213, 213, 213, 0.2);
}

#sectionFillQuote .section-special-offer-main .form-valid-tab {
  gap: 12px;
}

#sectionFillQuote .section-special-offer-main .form-valid-tab .fly-trip-types {
  width: 100%;
}

#sectionFillQuote
  .section-special-offer-main
  .form-valid-tab
  .fly-trip-content
  .fly-trip-pane
  .container-field-row
  .block-city-row {
  width: 100%;
}

#sectionFillQuote .section-special-offer-main .form-valid-tab .fly-trip-content .fly-trip-pane .container-field .field_calendar {
  width: 100%;
}

#sectionFillQuote .section-special-offer-main .form-valid-tab .container-field .field_calendar {
  width: 100%;
}

#sectionFillQuote
  .section-special-offer-main
  .form-valid-tab
  .fly-trip-content
  .fly-trip-pane
  .container-field-row
  .block-city-row
  .city
  .flex
  .block_photo {
  display: none;
}

#sectionFillQuote .section-special-offer-main .form-valid-tab .fly-trip-content .fly-trip-pane .container-field-row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#sectionFillQuote .section-special-offer-main .form-valid-tab .fly-trip-content .fly-trip-pane .container-field-row .field {
  width: 100%;
}

#sectionFillQuote > .section-special-offer-main > .save-up {
  display: none !important;
}

#sectionFillQuote .section-special-offer-main .form-valid-tab .fly-trip-content .fly-trip-pane {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#sectionFillQuote .section-special-offer-main .form-valid-tab .container-field .field_calendar .flex-two-fields .drops_container {
  width: 100%;
}

#sectionFillQuote
  .section-special-offer-main
  .form-valid-tab
  .container-field
  .field_calendar
  .flex-two-fields
  .drops_container
  .field.drop {
  width: 100%;
}

#sectionFillQuote .section-special-offer-main .form-valid-tab .btn_add {
  margin-top: 0;
}

#sectionFillQuote .section-special-offer-main .form-valid-tab .drops_container .field .flex .block_input .passenger_field,
#sectionFillQuote
  .section-special-offer-main
  .form-valid-tab
  .fly-trip-content
  .fly-trip-pane
  .container-field-row
  .block-city-row
  .field
  .flex
  .block_input
  > .search-input,
#sectionFillQuote
  .section-special-offer-main
  .form-valid-tab
  .fly-trip-content
  .fly-trip-pane
  .container-field-row
  .block-city-row
  .field
  .flex
  .block_input
  > .search-input
  input,
#sectionFillQuote
  .section-special-offer-main
  .form-valid-tab
  .fly-trip-content
  .fly-trip-pane
  .container-field-row
  .field_calendar
  .flex
  .field
  .block_input
  > .date,
#sectionFillQuote
  .section-special-offer-main
  .form-valid-tab
  .fly-trip-content
  .fly-trip-pane
  .container-field-row
  .field_calendar
  .flex
  .field
  .block_input
  > .date
  input,
#sectionFillQuote .section-special-offer-main .form-valid-tab .drops_container .field .flex .block_input > .class_field {
  background: #fffdfd;
}

#sectionFillQuote .section-special-offer-main .form-valid-tab .drops_container .field .flex .block_input .passenger_field,
#sectionFillQuote
  .section-special-offer-main
  .form-valid-tab
  .fly-trip-content
  .fly-trip-pane
  .container-field-row
  .block-city-row
  .field
  .flex
  .block_input
  > .search-input,
#sectionFillQuote
  .section-special-offer-main
  .form-valid-tab
  .fly-trip-content
  .fly-trip-pane
  .container-field-row
  .field_calendar
  .flex
  .field
  .block_input
  > .date,
#sectionFillQuote .section-special-offer-main .form-valid-tab .drops_container .field .flex .block_input > .class_field {
  border: 1px solid var(--black-8, #ecedee);
}

#sectionFillQuote .section-special-offer-main .form-valid-tab .container-field .field_calendar .flex .field p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 4px;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#sectionFillQuote
  .section-special-offer-main
  .form-valid-tab
  .container-field
  .field_calendar
  .flex
  .field
  p.block_input__passenger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 4px;
}

#sectionFillQuote .section-special-offer-main .form-valid-tab .container-field .field_calendar .flex .field p label {
  color: var(--black-80, #2a3243);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

#sectionFillQuote .section-special-offer-main .form-valid-tab .container-field .field_calendar .flex .field p input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 16px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--black-8, #ecedee);
  background: var(--white, #fffdfd);
  font-size: 16px;
}

#sectionFillQuote
  .section-special-offer-main
  .form-valid-tab
  .container-field
  .field_calendar
  .flex
  .field
  p
  input::-webkit-input-placeholder {
  color: var(--black-40, #7c8089);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

#sectionFillQuote
  .section-special-offer-main
  .form-valid-tab
  .container-field
  .field_calendar
  .flex
  .field
  p
  input::-moz-placeholder {
  color: var(--black-40, #7c8089);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

#sectionFillQuote
  .section-special-offer-main
  .form-valid-tab
  .container-field
  .field_calendar
  .flex
  .field
  p
  input:-ms-input-placeholder {
  color: var(--black-40, #7c8089);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

#sectionFillQuote
  .section-special-offer-main
  .form-valid-tab
  .container-field
  .field_calendar
  .flex
  .field
  p
  input::-ms-input-placeholder {
  color: var(--black-40, #7c8089);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

#sectionFillQuote .section-special-offer-main .form-valid-tab .container-field .field_calendar .flex .field p input::placeholder {
  color: var(--black-40, #7c8089);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.search-results-table-partner_name {
  color: var(--black-80, #2a3243);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.search-results-table-partner_name-first {
  display: none;
}

@media (max-width: 480px) {
  .drops_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .btn-main-form {
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    padding: 12px 0px;
  }

  .search-results-table-flights-item-fire {
    display: none;
  }

  .search-results-table-partner_name-first {
    display: block;
  }

  #sectionFillQuote .section-special-offer-main .form-valid-tab .fly-trip-types .fly-trip-type {
    font-size: 14px;
  }

  .fly-trip-types .fly-trip-type {
    font-size: 14px;
  }

  .field {
    min-width: 120px;
  }

  #sectionFillQuote .section-special-offer-main .form-valid-tab .container-field .field_calendar .flex-two-fields .field {
    min-width: 120px;
  }

  #sectionFillQuote .section-special-offer-main .form-valid-tab .container-field .field_calendar .flex,
  #sectionFillQuote .section-special-offer-main .form-valid-tab .container-field .field_calendar .flex-two-fields {
    min-width: 140px;
  }

  .block-drop-down .passenger .passenger_field .field__inf p {
    font-size: 9px;
  }

  .block-drop-down .passenger .passenger_field .field__inf p.field__inf__aged {
    font-size: 9px;
  }

  .bt_minus svg {
    width: 20px;
    height: 20px;
  }

  .bt_plus svg {
    width: 20px;
    height: 20px;
  }

  #sectionFillQuote
    .section-special-offer-main
    .form-valid-tab
    .container-field
    .field_calendar
    .flex
    .field
    p
    input::-webkit-input-placeholder {
    font-size: 12px;
  }

  #sectionFillQuote
    .section-special-offer-main
    .form-valid-tab
    .container-field
    .field_calendar
    .flex
    .field
    p
    input::-moz-placeholder {
    font-size: 12px;
  }

  #sectionFillQuote
    .section-special-offer-main
    .form-valid-tab
    .container-field
    .field_calendar
    .flex
    .field
    p
    input:-ms-input-placeholder {
    font-size: 12px;
  }

  #sectionFillQuote
    .section-special-offer-main
    .form-valid-tab
    .container-field
    .field_calendar
    .flex
    .field
    p
    input::-ms-input-placeholder {
    font-size: 12px;
  }

  #sectionFillQuote
    .section-special-offer-main
    .form-valid-tab
    .container-field
    .field_calendar
    .flex
    .field
    p
    input::placeholder {
    font-size: 12px;
  }

  .block_input > .date input::-webkit-input-placeholder,
  .block_input > .search-input input::-webkit-input-placeholder {
    font-size: 12px;
  }

  .block_input > .date input::-moz-placeholder,
  .block_input > .search-input input::-moz-placeholder {
    font-size: 12px;
  }

  .block_input > .date input:-ms-input-placeholder,
  .block_input > .search-input input:-ms-input-placeholder {
    font-size: 12px;
  }

  .block_input > .date input::-ms-input-placeholder,
  .block_input > .search-input input::-ms-input-placeholder {
    font-size: 12px;
  }

  .block_input > .date input::placeholder,
  .block_input > .search-input input::placeholder {
    font-size: 12px;
  }

  .search-input.active .autocom-box li h5 {
    font-size: 10px;
  }

  .search-input.active .autocom-box li h4 {
    font-size: 12px;
  }

  #sectionFillQuote .section-special-offer-main .form-valid-tab .container-field .field_calendar .flex .field .iti input {
    padding-left: 40px;
  }

  .iti__selected-flag {
    padding-left: 4px;
  }

  .fly-trip-content .fly-trip-pane .container-field .btn_switch img {
    width: 20px;
    height: 20px;
  }

  #sectionFillQuote {
    padding: 32px 8px;
  }

  #sectionFillQuote
    .section-special-offer-main
    .form-valid-tab
    .container-field
    .field_calendar
    .flex
    .field
    p
    input::-webkit-input-placeholder,
  .block_input > .search-input input::-webkit-input-placeholder,
  .block_input > .search-input input::-webkit-input-placeholder {
    font-size: 12px !important;
  }

  #sectionFillQuote
    .section-special-offer-main
    .form-valid-tab
    .container-field
    .field_calendar
    .flex
    .field
    p
    input::-moz-placeholder,
  .block_input > .search-input input::-moz-placeholder,
  .block_input > .search-input input::-moz-placeholder {
    font-size: 12px !important;
  }

  #sectionFillQuote
    .section-special-offer-main
    .form-valid-tab
    .container-field
    .field_calendar
    .flex
    .field
    p
    input:-ms-input-placeholder,
  .block_input > .search-input input:-ms-input-placeholder,
  .block_input > .search-input input:-ms-input-placeholder {
    font-size: 12px !important;
  }

  #sectionFillQuote
    .section-special-offer-main
    .form-valid-tab
    .container-field
    .field_calendar
    .flex
    .field
    p
    input::-ms-input-placeholder,
  .block_input > .search-input input::-ms-input-placeholder,
  .block_input > .search-input input::-ms-input-placeholder {
    font-size: 12px !important;
  }

  #sectionFillQuote .section-special-offer-main .form-valid-tab .container-field .field_calendar .flex .field p input,
  #sectionFillQuote
    .section-special-offer-main
    .form-valid-tab
    .container-field
    .field_calendar
    .flex
    .field
    p
    input::placeholder,
  .block_input > .date input,
  .block_input > .search-input input,
  .block_input > .search-input input,
  .block_input > .search-input input::placeholder,
  .block_input > .search-input input::placeholder {
    font-size: 12px !important;
  }
}

.active_radio {
  color: #006dd2;
}

.miles-radio-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.mile-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.miles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start !important;
  -ms-flex-align: start !important;
  align-items: flex-start !important;
  color: #2a3243;
  gap: 12px;
}

.label-miles {
  cursor: pointer;
}

.checkbox__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 16px 0;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -webkit-box-shadow: 0px 4px 16px 0px rgba(187, 204, 217, 0.2);
  box-shadow: 0px 4px 16px 0px rgba(187, 204, 217, 0.2);
  border-radius: 5px;
}

.checkbox__item label .text {
  color: var(--black-60, #535966);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.checkbox__item label .text_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.checkbox__item label .text_icon .icon {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkbox__item label .text a {
  color: var(--black-60, #535966);
  text-decoration-line: underline;
}

#sectionFillQuote .section-special-offer-main .form-valid-tab .container-field .field_calendar .flex-two-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 14px;
}

@media (max-width: 1100px) {
  #sectionFillQuote {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .checkbox__item label .text_icon .icon {
    display: none;
  }

  #sectionFillQuote .section-special-offer-main .form-valid-tab .fly-trip-types .fly-trip-type .icon {
    display: none;
  }

  #sectionFillQuote .section-special-offer-main .form-valid-tab .container-field .field_calendar .flex-two-fields .field {
    width: 100%;
  }

  .block_input > .name_block {
    font-size: 12px;
  }

  #sectionFillQuote .section-special-offer-main .form-valid-tab .container-field .field_calendar .flex .field p label {
    font-size: 12px;
  }

  .block_input > .class_field,
  .block_input > .date,
  .block_input > .passenger_field,
  .block_input > .search-input {
    height: 40px;
    border-radius: 4px;
    padding: 6px 9px 6px 9px;
  }

  .block_input > .date input,
  .block_input > .search-input input {
    height: 100%;
    padding: 0;
    font-size: 13px;
  }

  #sectionFillQuote .section-special-offer-main .form-valid-tab .container-field .field_calendar .flex .field p input {
    height: 40px;
    padding: 6px 9px;
    border-radius: 4px;
    font-size: 13px;
  }

  #submit_flight,
  .btn-main-form {
    height: 36px;
  }

  .block_input > .class_field > .block_input__class,
  .block_input > .passenger_field > .block_input__passenger {
    font-size: 13px;
  }

  .block_to_delete_flight h3,
  .btn_add h3 {
    font-size: 13px;
  }

  #sectionFillQuote
    .section-special-offer-main
    .form-valid-tab
    .container-field
    .field_calendar
    .flex
    .field
    p
    input::-webkit-input-placeholder {
    font-size: 14px;
  }

  #sectionFillQuote
    .section-special-offer-main
    .form-valid-tab
    .container-field
    .field_calendar
    .flex
    .field
    p
    input::-moz-placeholder {
    font-size: 14px;
  }

  #sectionFillQuote
    .section-special-offer-main
    .form-valid-tab
    .container-field
    .field_calendar
    .flex
    .field
    p
    input:-ms-input-placeholder {
    font-size: 14px;
  }

  #sectionFillQuote
    .section-special-offer-main
    .form-valid-tab
    .container-field
    .field_calendar
    .flex
    .field
    p
    input::-ms-input-placeholder {
    font-size: 14px;
  }

  #sectionFillQuote
    .section-special-offer-main
    .form-valid-tab
    .container-field
    .field_calendar
    .flex
    .field
    p
    input::placeholder {
    font-size: 14px;
  }

  .block_input > .date input::-webkit-input-placeholder,
  .block_input > .search-input input::-webkit-input-placeholder {
    font-size: 14px;
  }

  .block_input > .date input::-moz-placeholder,
  .block_input > .search-input input::-moz-placeholder {
    font-size: 14px;
  }

  .block_input > .date input:-ms-input-placeholder,
  .block_input > .search-input input:-ms-input-placeholder {
    font-size: 14px;
  }

  .block_input > .date input::-ms-input-placeholder,
  .block_input > .search-input input::-ms-input-placeholder {
    font-size: 14px;
  }

  .block_input > .date input::placeholder,
  .block_input > .search-input input::placeholder {
    font-size: 14px;
  }

  .search-input .autocom-box li {
    padding: 5px 12px;
  }
}

.mainForm .text {
  color: var(--black-60, #535966);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.mainForm .text a {
  color: var(--black-60, #535966);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-decoration: underline;
}

input[type='radio']:before {
  content: '';
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: -4px;
  border: 2px solid #555555;
  border: 1.5px solid var(--fg-weak, #8c959f);
  background: var(--bg-default, #fff);
  border-radius: 50%;
}

input[type='radio']:checked:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border: solid black;
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 50%;
  border: 6px solid #0a74d7;
}
