<section class="preheader">
  <div class="container">
    <div class="preheader__block">
      <img src="/static/icons/preheader-logo-1.svg" alt="BBB Accredited Business icon" class="preheader__block-image">
      <div class="preheader__block-content">
        BBB <br> Accredited <br> Business
      </div>
    </div>
    <div class="preheader__block">
      <img src="/static/icons/preheader-logo-2.svg" alt="Affiliated with ARC icon" class="preheader__block-image">
      <div class="preheader__block-content">
        Affiliated with<br>ARC
      </div>
    </div>
    <div class="preheader__block">
      <img src="/static/icons/preheader-logo-3.svg" alt="trustpilot icon" class="preheader__block-image">
      <div class="preheader__block-content">
        <%- include('templates/components/reviewStars/reviewStars.ejs', { 
          "classes" : 'stars_blue' , 
          "starElements" : [
            { classes: 'stars__star_active' }, { classes: 'stars__star_active' }, { classes: 'stars__star_active' }, { classes: 'stars__star_active' }, { } 
          ] 
        }) %>
      </div>
    </div>
  </div>
</section>