<div class="modal modal-success" style="overflow-y: auto;">
  <div class="modal-content">
    <div class="section-contact__header section-contact__header-subscribe">
      <div>
        <div class="section-contact__title success-title">
          We appreciate your inquiry!
        </div>
        <div class="close closeBTN">&times;</div>
      </div>
      <div>
        <p class="section-contact__description">
          You will be contacted by one of our travel experts shortly.
        </p>
      </div>
    </div>
  </div>
</div>