.dynamic-group {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
  @include grid-mn('md') {
    justify-content: space-between;
  }
  // .dynamic-group__buttons

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .dynamic-group__button-block

  &__button-block {
    width: calc(50% - 4px);
  }

  &__button {
    width: 100%;
    max-width: 100%;
  }
}
