.form {
  display: flex;
  width: 100%;
  max-width: 748px;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  @include grid-mn('xmd') {
    padding: 40px;
  }
  sl-button[type='submit'] {
    margin-top: 32px;
  }

  &__fields {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 100%;
  }

  &__checkbox {
    padding: 0 3px 0 14px;
    &::part(control) {
      --sl-input-border-color: #d4d4d8;
    }
    &::part(label) {
      color: var(--Dark-blue, #2a3243);
      /* Desktop/Medium 16 */
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 24px */
      @include grid-mn('md') {
        font-size: 18px;
      }
      @include grid-mn('xmd') {
        font-size: 16px;
      }
    }
    a {
      display: inline-block;
      text-decoration: underline;
    }
    &.form__field_error {
      &::part(label) {
        // color: #e31d1c;
      }
      &::part(control) {
        --sl-input-border-color: #e31d1c;
      }
      .field__error-text {
        display: block;
      }
    }
    // &.form__field_success {

    // }
  }
  div.form__input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .iti {
      max-width: calc(100% - 15px);
      &__flag {
        transform: scale(0.8);
      }
      &__selected-country-primary {
        --iti-arrow-padding: 0;
        --iti-spacer-horizontal: 0;
      }
      &__tel-input {
        padding-left: 30px;
        background: transparent;
        padding-right: 0;
      }
    }
  }
  sl-input.form__field_error,
  div.form__field_error {
    &::part(form-control),
    &.form__input {
      border-color: #e31d1c;
      background: linear-gradient(0deg, rgba(227, 29, 28, 0.1) 0%, rgba(227, 29, 28, 0.1) 100%), var(--White, #fff);
    }
    &::part(input),
    .iti__tel-input {
      &::placeholder {
        color: #e31d1c;
      }
    }
    .field-status {
      content: url($STATIC_PATH + '/icons/circle-outline-help.svg');
      opacity: 1;
    }
  }

  sl-input.form__field_success,
  div.form__field_success {
    &::part(form-control),
    &.form__input {
      &::after {
        display: block;
        content: '';
        position: absolute;
        height: 1px;
        background-color: var(--Light-Gray, #cecece);
        left: 12px;
        top: auto;
        bottom: 9px;
        width: calc(100% - 32px);
      }
    }
    .field-status {
      content: url($STATIC_PATH + '/icons/circle-outline-check.svg');
      opacity: 1;
    }
  }
  sl-input,
  div.form__input {
    position: relative;
    width: 100%;
    @include grid-mn('md') {
      width: calc(50% - 8px);
    }
  }
  sl-input::part(form-control),
  div.form__input {
    height: 73px;
    border-radius: 10px;
    padding: 9px 16px;
    background: var(--White, #fff);
    border: 1px solid var(--White, #fff);
    box-shadow: 0px 0px 4px 0px rgba(20, 46, 70, 0.15);
  }
  sl-input::part(form-control-label),
  div.form__input > label {
    color: var(--Dark-blue, #2a3243);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
    @include grid-mn('xmd') {
      font-size: 14px;
    }
  }
  sl-input::part(input),
  div.form__input input {
    max-width: 100%;
    border: none;
    outline: none;

    &::placeholder {
      color: var(--Light-Gray, #cecece);
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 27px */
      @include grid-mn('xmd') {
        font-size: 16px;
      }
    }
  }
  sl-input {
    &::part(form-control-label) {
      --sl-spacing-3x-small: 0;
    }
    &::part(base) {
      position: static;
      --sl-input-border-width: 0;
      --sl-input-height-medium: 27px;
      --sl-input-background-color: transparent;
      --sl-input-background-color-hover: transparent;
      --sl-input-background-color-focus: transparent;
      --sl-input-border-color-hover: transparent;
      --sl-input-border-color-focus: transparent;
      --sl-focus-ring-width: 0;
      --sl-focus-ring-color: transparent;
    }
    &::part(input) {
      --sl-input-spacing-medium: 0;
    }
  }
  &__field {
    & + .form__checkbox {
      margin-top: 22px;
    }
  }
  &__input {
    border: none;
    background: transparent;
    outline: none;
  }
}

.field-status {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  font-size: 10px;

  width: 20px;
  min-width: 20px;
  height: 20px;
  position: absolute;
  left: auto;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.field {
  &__error-text {
    display: none;
    color: #e31d1c;
  }
}
