.nav {
  display: none;
  @include grid-mn('xlg') {
    display: flex;
  }

  // .nav__list

  &__list.menu-list {
    padding: 0;
    flex-direction: row;
    @include grid-mn('lg') {
      gap: 32px;
    }

    .menu-list__item {
      @include grid-mn('lg') {
      }
    }

    @include highlight('.menu-list__link', var(--White-Smoke, #fafafa));
    .menu-list__link {
      @include grid-mn('lg') {
        color: var(--White-Smoke, #fafafa);
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
      }
    }
  }
}
