.nav {
  display: none;
  @include grid-mn('lg') {
    display: flex;
  }

  // .nav__list

  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    @include grid-mn('lg') {
      gap: 32px;
    }
  }

  // .nav__item

  &__item {
    @include grid-mn('lg') {
    }
  }

  // .nav__link

  @include highlight('.nav__link', var(--White-Smoke, #fafafa));
  &__link {
    @include grid-mn('lg') {
      color: var(--White-Smoke, #fafafa);
      font-size: 14px;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
    }
  }
}
