sl-button {
  &.btn-arrow {
    &::part(label) {
      display: flex;
      flex-wrap: nowrap;
      gap: 10px;
    }
    img {
      display: inline-block;
      width: 16px;
      height: 16px;
    }
    &::after {
    }
  }
  &.btn-primary,
  &.btn-light {
    &::part(base) {
      --sl-input-height-medium: 48px;

      @include grid-mn('md') {
        --sl-input-height-medium: 44px;
      }
      @include grid-mn('xmd') {
        --sl-input-height-medium: 40px;
        font-size: 16px;
      }
    }
    &::part(label) {
      font-family: Inter;
      font-size: 18px;
      font-weight: 600;
      line-height: normal;
    }
  }
  &.btn-primary {
    &::part(base) {
      border: none;
      color: var(--White, #fff);
      text-align: center;

      display: flex;
      min-width: 264px;
      padding: 5px 10px;
      justify-content: center;
      align-items: center;

      flex-shrink: 0;
      border-radius: 10px;
      background: var(--Gradient, linear-gradient(247deg, #279aff 3.13%, #006dd2 60%, #0a549a 100%));
      border-radius: 10px;
      background: var(--Azure-Blue, #0a74d7);
      box-shadow:
        0px -4px 4px 0px rgba(0, 0, 0, 0.25) inset,
        0px 0px 0px 0px rgba(39, 154, 255, 0.3),
        0px 0px 4px 0px rgba(255, 255, 255, 0.2) inset;
      transition: all ease-in-out 0.1s;
      &:active {
        transform: translateX(-2px);
      }
      &:active,
      &:focus,
      &:hover {
      }
      &:hover {
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        background: #0086fb;
      }

      &:active,
      &:focus {
        box-shadow:
          0px -4px 4px 0px rgba(0, 0, 0, 0.25) inset,
          0px 0px 0px 0px rgba(39, 154, 255, 0.3),
          0px 0px 4px 0px rgba(255, 255, 255, 0.2) inset;
      }
    }
  }
  &.btn-light {
    &::part(base) {
      /* Set design tokens for height and border width */

      // --sl-input-border-width: 4px;

      border: none;
      color: var(--Azure-Blue, #0a74d7);
      text-align: center;
      /* buttons */

      border-radius: 10px;
      background: var(--White, #fff);
      display: inline-flex;
      padding: 5px 16px;
      align-items: center;
      gap: 8px;
      flex-shrink: 0;
      transition: all ease-in-out 0.1s;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
      &:active {
        transform: translateX(-2px);
      }
      &:active,
      &:focus,
      &:hover {
      }
      &:hover {
        box-shadow:
          0px -4px 4px 0px rgba(0, 0, 0, 0.25) inset,
          0px 0px 0px 0px rgba(39, 154, 255, 0.3),
          0px 0px 4px 0px rgba(255, 255, 255, 0.2) inset;
      }

      &:active,
      &:focus {
        background: #0086fb;
      }

      &:focus-visible {
        // outline: dashed 2px deeppink;
        // outline-offset: 4px;
      }
    }
  }
  &.btn-sm {
    &::part(base) {
      min-width: 141px;
      --sl-input-height-medium: 40px;
    }
  }
  &.btn-md {
    &::part(base) {
      min-width: 188px;
      --sl-input-height-medium: 44px;
    }
  }
}
