<div class="drops_container">
  <div class="field block_arrow drop passengers_drop">
    <div class="flex block_with_arrow">
      <div class="block_input">
        <p class="name_block">Passenger</p>
        <div class="flex passenger_field">
          <p class="block_input__passenger">
            <span class="active number_passengers-all">1</span>
            |
            <span class="flight_class">Business</span>
          </p>
          <div class="block_photo">
            <div class="icon">
              <i class="icon-arrow-bottom"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block-drop-down">
      <div class="passenger">
        <div class="drop-passenger-title">Passenger</div>
        <%- env.passengers %>
      </div>
      <div class="class_f">
        <div class="drop-passenger-title">Class</div>
        <div class="class_field">
          <div class="form_radio_btn">
            <input id="radio-1" type="radio" name="type_ticket" value="Business" checked="true" />
            <label for="radio-1">Business</label>
          </div>
          <div class="form_radio_btn">
            <input id="radio-2" type="radio" name="type_ticket" value="First" />
            <label for="radio-2">First</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>