<div class="section-special-offer-main">
<h1>!!{{baseUrl}} | {{form_name}} | {{#each passengers}}
    {{../baseUrl}} {{label}} 
{{/each}}</h1>
  <div class="save-up">Save up to $3,000</div>
  <form class="form-valid-tab white mainForm" id="searchflights" novalidate name="{{form_name}}">
    <div class="fly-trip-types">
      <div class="fly-trip-type-block">
        <input id="fly-trip-radio-1" type="radio" name="fly_trip_type" value="Round-trip" class="fly-trip-radio"
          checked />
        <label for="fly-trip-radio-1">
          <span class="fly-trip-type">
            <span class="icon"><i class="icon-round-trip"></i></span>
            <p>Round-trip</p>
          </span>
        </label>
      </div>
      <div class="fly-trip-type-block">
        <input id="fly-trip-radio-2" type="radio" name="fly_trip_type" class="fly-trip-radio" value="One-way" />
        <label for="fly-trip-radio-2">
          <span class="fly-trip-type">
            <span class="icon"><i class="icon-direct-flight"></i></span>
            <p>One-way</p>
          </span>
        </label>
      </div>
      <div class="fly-trip-type-block">
        <input id="fly-trip-radio-3" type="radio" name="fly_trip_type" class="fly-trip-radio" value="Multi-city" />
        <label for="fly-trip-radio-3">
          <span class="fly-trip-type">
            <span class="icon"><i class="icon-airplane-2"></i></span>
            <p>Multi-city</p>
          </span>
        </label>
      </div>
    </div>
    <div class="fly-trip-content">
      <div class="fly-trip-pane" data-container-field-row-id="0">
        <div class="container-field container-field-row">
          <div class="block-city-row">
            <div class="btn_switch switch">
              <img src="/assets/icons/exchange-alt.svg" alt="exchange" width="32" height="32" />
            </div>
            <div class="field city">
              <div class="flex">
                <div class="block_input">
                  <p class="name_block">From</p>
                  <div class="search-input">
                    <input name="flight[0]['from']" type="text" class="input_from input-from-switch"
                      placeholder="Enter City or Airport" autocomplete="off" data-validation="required|min[3]" />
                    <input name="flight[0]['cityAirport']" type="hidden" class="cityAirport input_airport" />
                    <input name="flight[0]['cityCode']" type="hidden" class="cityCode" data-validation="required" />
                    <input name="flight[0]['originEntityId']" type="hidden" class="originEntityId" />
                    <div class="autocom-box"></div>
                    <div class="loading-container hidden"></div>
                  </div>
                </div>
                <div class="block_photo">
                  <div class="icon">
                    <img src="{{baseUrl}}assets/mainForm/img/airplane-1.svg" alt="Airplane" title="Airplane"
                      class="from_airplane_img" />
                  </div>
                </div>
              </div>
            </div>
            <div class="field city">
              <div class="flex">
                <div class="block_input">
                  <p class="name_block">To</p>
                  <div class="search-input">
                    <input name="flight[0]['to']" type="text" class="input_to input-to-switch"
                      placeholder="Enter City or Airport" autocomplete="off" data-validation="required|min[3]" />
                    <input name="flight[0]['cityAirportTo']" type="hidden" class="cityAirportTo input_airport" />
                    <input name="flight[0]['cityCodeTo']" type="hidden" class="cityCodeTo" data-validation="required" />
                    <input name="flight[0]['destinationEntityId']" type="hidden" class="destinationEntityId" />
                    <div class="autocom-box"></div>
                    <div class="loading-container hidden"></div>
                  </div>
                </div>
                <div class="block_photo">
                  <div class="icon icon_to">
                    <img src="{{baseUrl}}assets/mainForm/img/airplane-1.svg" alt="Airplane" title="Airplane"
                      class="to_airplane_img" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="field_calendar">
            <div class="flex flex_decoration input-group input-daterange jDaterange">
              <div class="field">
                <div class="block_input">
                  <p class="name_block">Departure</p>
                  <div class="date">
                    <input class="input_departure inputDate from" name="flight[0]['date_start']"
                      placeholder="Select date" type="text" autocomplete="off" data-validation="required|date" />
                    <span class="input-group-addon"><i class="icon-calendar"></i></span>
                  </div>
                </div>
              </div>
              <div class="field field_return">
                <div class="block_input block_return">
                  <p class="name_block">Return</p>
                  <div class="date" data-date-format="mm-dd-yyyy">
                    <input class="input_return inputDate to" name="flight[0]['date_end']" placeholder="Select date"
                      type="text" autocomplete="off" data-validation="required|date" />
                    <span class="input-group-addon"><i class="icon-calendar"></i></span>
                  </div>
                </div>
              </div>
            </div>
            {{> dropsContainer}}
          </div>
        </div>
      </div>
    </div>
    {{> standartForm}}
  </form>
</div>