<div 
  class="form__field <%= env.classes %>"
  <% if(env.validate){ %>data-validate="<%=env.validate%>" <% } %>
>
  <% if(env.staticContentPath){ %>
    <%- include(env.staticContentPath, {
      env: env.inputProps
    }) %>
  <% } else{ %>
    <%- env.content %>
  <% } %>
</div>