<div class="country-list">
  <%- include('templates/layouts/dropdowns/countryListDropdowns.ejs', {
    env: {
      dropdowns: [
        {
          title: 'Europe',
          classes: 'country-list__dropdown country-list__dropdown_active',
          dropdownItems: [
            {
              href: '#Austria',
              text: 'Austria'
            },
            {
              href: '#Belgium',
              text: 'Belgium'
            },
            {
              href: '#Bulgaria',
              text: 'Bulgaria'
            },
            {
              href: '#Croatia',
              text: 'Croatia'
            },
            {
              href: '#Czech Repiblic',
              text: 'Czech Repiblic'
            },
            {
              href: '#Denmark',
              text: 'Denmark'
            },
            {
              href: '#Finland',
              text: 'Finland'
            },
            {
              href: '#France',
              text: 'France'
            },
            {
              href: '#Germany',
              text: 'Germany'
            },
            {
              href: '#Greece',
              text: 'Greece'
            },
            {
              href: '#Hungary',
              text: 'Hungary'
            },
            {
              href: '#Iceland',
              text: 'Iceland'
            },
            {
              href: '#Ireland',
              text: 'Ireland'
            },
            {
              href: '#Italy',
              text: 'Italy'
            },
            {
              href: '#Netherlands',
              text: 'Netherlands'
            },
            {
              href: '#Norway',
              text: 'Norway'
            },
            {
              href: '#Poland',
              text: 'Poland'
            },
            {
              href: '#Portugal',
              text: 'Portugal'
            },
            {
              href: '#Romania',
              text: 'Romania'
            },
            {
              href: '#Serbia',
              text: 'Serbia'
            },
            {
              href: '#Slovenia',
              text: 'Slovenia'
            },
            {
              href: '#Spain',
              text: 'Spain'
            },
            {
              href: '#Sweden',
              text: 'Sweden'
            },
            {
              href: '#Switzerland',
              text: 'Switzerland'
            },
            {
              href: '#United Kingdom',
              text: 'United Kingdom'
            }
          ]
        },
        {
          title: 'Asia',
          classes: 'country-list__dropdown',
          dropdownItems: [
            {
              href: '#China',
              text: 'China'
            },
            {
              href: '#Hong Kong',
              text: 'Hong Kong'
            },
            {
              href: '#Japan',
              text: 'Japan'
            },
            {
              href: '#South Korea',
              text: 'South Korea'
            },
            {
              href: '#Philippines',
              text: 'Philippines'
            },
            {
              href: '#Singapore',
              text: 'Singapore'
            },
            {
              href: '#Thailand',
              text: 'Thailand'
            },
            {
              href: '#Vietnam',
              text: 'Vietnam'
            },
            {
              href: '#Taiwan',
              text: 'Taiwan'
            },
            {
              href: '#Sri Lanka',
              text: 'Sri Lanka'
            },
            {
              href: '#Nepal',
              text: 'Nepal'
            },
            {
              href: '#Mongolia',
              text: 'Mongolia'
            },
            {
              href: '#Indonesia',
              text: 'Indonesia'
            },
            {
              href: '#Cambodia',
              text: 'Cambodia'
            },
            {
              href: '#Myanmar',
              text: 'Myanmar'
            },
            {
              href: '#Bangladesh',
              text: 'Bangladesh'
            }
          ]
        },
        {
          title: 'Middle East',
          classes: 'country-list__dropdown',
          dropdownItems: [
            {
              href: '#Turkey',
              text: 'Turkey'
            },
            {
              href: '#Israel',
              text: 'Israel'
            },
            {
              href: '#United Arab Emirates',
              text: 'United Arab Emirates'
            },
            {
              href: '#Jordan',
              text: 'Jordan'
            },
            {
              href: '#Qatar',
              text: 'Qatar'
            }
          ]
        },
        {
          title: 'Australia and Oceania',
          classes: 'country-list__dropdown',
          dropdownItems: [
            {
              href: '#Australia',
              text: 'Australia'
            },
            {
              href: '#New Zealand',
              text: 'New Zealand'
            },
            {
              href: '#French Polynesia',
              text: 'French Polynesia'
            },
            {
              href: '#Fiji',
              text: 'Fiji'
            }
          ]
        },
      ]
    }
  }) %>

</div>