:root {
  --primary-blue-5: #F2F5FE;
  --primary-blue-100: #0A74D7;
  --primary-blue-200: #044786;
  --bg-color-500: #1034A6;
  --bg-color-footer: #E9EEFE;

  --black-8: #ECEDEE;
  --black-5: #FAFAFA;
  --black-10: #BABBBD;
  --black-40: #7C8089;
  --black-60: #535966;
  --black-80: #2A3243;
  --black-100: #00091C;
  --white: #FFFDFD;

  --seconady-gradient: #0A74D7;

  --max-width: 1276px;
  --primary-yellow-50: #FFF7DF;
  --primary-yellow-500: #FFC000;
  --primary-yellow-700: #FD9F00;

  --large-screen: 1024px;
  --medium-screen: 768px;
  --small-screen: 480px;
  --tiny-screen: 360px;
  --danger:#E40000;
}
