//flyers styles
// @import './_flyer-styles.scss';
// @import './_flyer-form.scss';

// @import './components/_sl-dialog.scss';
@import './components/_loading-icon.scss';
@import './components/_lazy-picture.scss';
@import './components/_sl-tooltip.scss';
@import './components/_sl-button.scss';
@import './components/_nav.scss';
@import './components/_menu-list.scss';
@import './components/_burger.scss';
@import './components/_passenger-count.scss';
@import './components/_passenger-block.scss';
@import './components/_card.scss';
@import './components/_breadcrumbs.scss';
@import './components/_form.scss';
@import './components/_stars.scss';
@import './components/_country-list.scss';
@import './components/_preloader.scss';
@import './components/_parallax-bg.scss';
@import './components/_dynamic-group.scss';

// @import './layouts/_nav.scss';
// @import './layouts/_sl-form.scss';

@import './layouts/sections/_preheader.scss';
@import './layouts/sections/_header.scss';
@import './layouts/sections/_footer.scss';
@import './layouts/sections/_contacts.scss';
@import './layouts/sections/_hero.scss';
@import './layouts/sections/_book.scss';
@import './layouts/sections/_reviews.scss';
@import './layouts/sections/_services.scss';
@import './layouts/sections/_subscribe.scss';

@import './layouts/forms/_find-ticket.scss';

@import './layouts/modals/_burgerDrawer.scss';
@import './layouts/modals/_dialog-common.scss';
@import './layouts/modals/_dialog-flight.scss';
@import './layouts/modals/_dialog-classup.scss';
@import './layouts/modals/_dialog-partners.scss';

@import './layouts/_socials.scss';

.air-datepicker-global-container { z-index: 999; }

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat', Arial, sans-serif;
  // padding: 20px;
}

a {
  text-decoration: none;
}

h1 {
  color: var(--White-Smoke, #fafafa);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  text-align: center;
  font-size: 28px;
  a {
    color: var(--Azure-Blue, #0a74d7);
  }
  @include grid-mn('xsm') {
    font-size: 36px;
  }
  @include grid-mn('xmd') {
    font-size: 40px;
  }
  @include grid-mn('xlg') {
    text-align: left;
  }
}
h2 {
  color: var(--Dark-blue, #2a3243);
  text-align: center;
  margin: 0 auto 12px;

  /* Mobile/H2 SemiBold 24 */
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 36px */
  text-transform: capitalize;
  a {
    color: var(--Azure-Blue, #0a74d7);
  }
  @include grid-mn('md') {
    font-size: 32px;
  }
  @include grid-mn('xlg') {
    font-size: 36px;
  }
}

@include highlight('.show-more', var(--Azure-Blue, #0a74d7));
.show-more {
  display: flex;
  gap: 8px;
  color: var(--Azure-Blue, #0a74d7);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: transparent;
  border: none;
  margin: 12px auto 18px;
  cursor: pointer;
  @include grid-mn('md') {
    margin: 16px auto;
  }
  // .show-more__img

  &__img {
    display: inline-block;
    width: 20px;
    height: 20px;
  }
}
.section {
  padding: 40px 0;
  @include grid-mn('md') {
    padding: 60px 0;
  }
  @include grid-mn('xmd') {
    padding: 50px 0;
  }
}
.subtitle {
  text-align: center;
  margin-top: 16px;
  color: var(--Dark-blue, #2a3243);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin: 0 auto;
  line-height: 150%;
  a {
    font-size: 20px;
    color: var(--Azure-Blue, #0a74d7);
    font-weight: 600;
  }
}

// .search-container {
//   margin-bottom: 20px;
// }

// .suggestions {
//   border: 1px solid #ccc;
//   max-width: 300px;
//   margin-top: 5px;
//   padding: 10px;
// }

// .suggestion-item {
//   padding: 5px;
//   cursor: pointer;
//   &:hover {
//     background-color: #f0f0f0;
//   }
// }
// .search-input {
//   position: relative;
// }
.link {
  color: var(--Black, #22282b);
  font-family: Montserrat;
  &.link_active,
  &:hover,
  &:focus,
  &:active {
    color: var(--Azure-Blue, #0a74d7);
  }
}
