.drawer-burger {
  .btn-md {
    margin: 5px 0 0;
    @include grid-mn('md') {
    }
  }
  &__menu-list {
    flex-direction: column;
    gap: 12px;
    margin: 0;

    @include grid-mn('xlg') {
    }

    .menu-list__item {
      @include grid-mn('xlg') {
      }
    }

    .menu-list__link {
      color: var(--Black, #22282b);
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 36px */
      @include grid-mn('xlg') {
      }
    }
  }
  &__content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 18px;
    @include grid-mn('md') {
    }
    p {
      margin: 0;
    }
  }
  &__menu-title {
    color: var(--Small-text, #909da2);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 16.8px */
    letter-spacing: 0.56px;
    text-transform: uppercase;
  }

  &::part(panel) {
    @include grid-mn('md') {
      --size: 600px;
    }
  }
  &::part(header) {
    display: none;
  }

  &::part(body) {
    padding: 60px;
    @include grid-mn('md') {
      padding: 120px 60px;
    }
    @include grid-mn('xmd') {
      padding: 45px 60px 45px 126px;
    }
  }
}

.burger-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
  margin-top: 23px;
  @include grid-mn('md') {
    gap: 24px;
    margin-top: 96px;
  }
  @include grid-mn('xmd') {
    gap: 13px;
    margin-top: 21px;
  }
  // .burger-contacts__block

  &__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  // .burger-contacts__block-title

  &__block-title {
    color: var(--Small-text, #909da2);
    font-feature-settings:
      'clig' off,
      'liga' off;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 19.6px */
    letter-spacing: -0.28px;
    text-transform: uppercase;
  }

  // .burger-contacts__block-content

  &__block-content {
    > a {
      color: var(--Azure-Blue, #0a74d7);
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 27px */
    }
  }
}
