.dialog-flight {
  .icon-menu {
    position: absolute;
    right: 24px;
  }
  &::part(body) {
    padding: 40px 23px 0;
  }
  &::part(close-button) {
    display: none;
  }
  &::part(panel) {
    max-height: 100vh;
    height: 100vh;
    max-width: 100%;
    @include grid-mn('md') {
      height: unset;
      max-height: unset;
      border-radius: 20px;
      --width: 628px;
    }
  }
  &::part(header) {
    position: relative;
  }
  &__form {
    padding: 0 5px;
    sl-input::part(form-control),
    div.form__input {
      box-shadow: 0px 4px 4px 0px rgba(10, 116, 215, 0.1);
      border: none;
    }
  }
  &__nav {
        height: 100%;
    &::part(base) {
      height: 100%;
    }
        &::part(body) {
      height: 100%;
    }
    &::part(tabs) {
      display: flex;
      gap: 9px;
      border-bottom: none;
      padding: 0 5px 24px;
    }
    &::part(active-tab-indicator) {
      display: none;
    }
    > sl-tab-panel {
      &::part(base) {
        padding: 0 0 120px;
        @include grid-mn('md') {
          padding: 0 0 20px;
        }
      }
    }
    > sl-tab {
      &::part(base) {
        display: flex;
        padding: 10px 8px;
        justify-content: center;
        align-items: center;

        color: #a5a7ac;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 4px;
        transition: all 0.3s ease-in-out;
      }
      &[active]::part(base) {
        background: var(--White, #fff);
        box-shadow: 0px 4px 4px 0px rgba(10, 116, 215, 0.1);
        color: #00091c;
      }
    }
  }

  .form {
    &__fields {
      gap: 8px;
              @include grid-mn('md') {

          justify-content: space-between;
        }
      &-search {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        @include grid-mn('md') {
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
    &__exchange-button {
      border: none;
      background: transparent;
      position: absolute;
      top: 50%;
      left: auto;
      right: 16px;
      transform: translateY(-50%);
      z-index: 1;
              @include grid-mn('md') {
    left: 50%;
    right: auto;
    transform: translate(-50%, -50%) rotate(90deg);
        }
    }
  }
}
