.dialog-partners {
  &::part(body) {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 15px 23px 0;
  }
  &::part(panel) {
    border-radius: 20px;
    --width: 648px;
    @include grid-mn('md') {
      --height: 748px;
      max-height: 748px;
      min-height: 748px;
    }
    @include grid-mn('md') {
      --width: 794px;
      --height: 864px;
      max-height: 864px;
      min-height: 864px;
    }
  }
}
.partners-data {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-grow: 1;
  @include grid-mn('md') {
    flex-direction: row;
    gap: 40px;
  }
  // .partners-data__tags

  &__tags {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    overflow: auto;
    padding-bottom: 10px;
    @include grid-mn('md') {
      min-width: 213px;
      flex-direction: column;
    }
  }
  // .partners-data__tag

  &__tag {
    &::part(content) {
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 24px */
      @include grid-mn('md') {
        font-size: 16px;
      }
    }
    &::part(base) {
      border-radius: 10px;
      height: 40px;
    }
    &[variant='neutral'] {
      &::part(base) {
        color: var(--Steel-Blue, #667085);
        background: #eaeaea;
      }
    }
    &[variant='primary'] {
      &::part(base) {
        color: var(--White, #fff);
        background: var(--Azure-Blue, #0a74d7);
      }
    }
  }

  // .partners-data__info

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex-grow: 1;
    overflow: auto;
    max-height: calc(100vh - 240px);
    @include grid-mn('md') {
      column-count: 2;
      height: 590px;
      max-height: calc(100vh - 158px);
    }
    @include grid-mn('xmd') {
      height: 694px;
    }
  }
}
.partners-category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding-right: 12px;
      @include grid-mn('xmd') {
          width: 100%;
    }
  // .partners-category__title

  &__title {
    width: 100%;
    padding-bottom: 4px;
    border-bottom: 1px solid var(--Light-Gray, #cecece);
    color: var(--Dark-blue, #2a3243);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  // .partners-category__list

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    padding: 0;
    margin: 0;
    list-style: none;
    @include grid-mn('xmd') {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  // .partners-category__item

  &__item {
  }

  // .partners-category__link

  &__link {
    color: var(--Azure-Blue, #0a74d7);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
    text-decoration-line: underline;
    &::after {
      content: url($STATIC_PATH + '/icons/arrow-top-right-blue-1.svg');
      display: inline-block;
      width: 16px;
      height: 16px;
    }
    @include grid-mn('md') {
      font-size: 16px;
    }
  }
}
.search-panel {
  &::part(base) {
    --sl-input-height-medium: 44px;
    border-radius: 20px;
    border: 0.6px solid var(--Slate-Gray, #7c8089);
  }
  &::part(input) {
    --sl-color-primary-500: var(--Dark-blue, #2a3243);
    color: var(--Dark-blue, #2a3243);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
