<ul class="menu-list <%= env.classes %>">
  <% for(var i=0; i < env.items.length; i++) { %>
    <li class="menu-list__item">
      <a href="<%= env.items[i].link %>" class="menu-list__link <%= env.items[i].linkClasses %>">
        <%= env.items[i].text %>
      </a>
    </li>
  <% } %>
</ul>