<div class="input">
  <input id="fly-trip-radio-1" type="radio" name="fly_trip_type" value="Round-trip" class="fly-trip-radio" checked />
  <label for="fly-trip-radio-1">
    <span class="fly-trip-type">
      <span class="icon"><i class="icon-round-trip"></i></span>
      <p>Round-trip</p>
    </span>
  </label>
</div>