<section 
  <% if(typeof env !== 'undefined' && env.id){ %>id="<%=env.id%>" <% } %> 
  class="contacts section"
>
  <div class="container">
    <h2 class="contacts__title">
      Get in Touch
    </h2>
    <p class="contacts__subtitle subtitle">
      Need more info? <a href="#">Get a free quote</a> by contacting us now!
    </p>
  </div>
  <div class="contacts__wrapper">
    <%- include('contactsBg.ejs') %>

    <div class="container">
      <%- include('templates/components/form/form.ejs', {
        env: {
          classes: 'contacts__form form',
          staticContentPath: 'templates/layouts/forms/contactsForm/contactsFormContent.ejs'
        }
      }) %>
    </div>
  </div>
</section>
