<div class="preloader" style="opacity: 0.0984771; display: none;">
  <div>
    <div class="loader-text">Loading<span>.</span><span>.</span><span>.</span></div>
    <div class="loader-plane-ways-block">
      <div class="loader-plane-ways">
        <div class="loader-plane-ways-1">
          <div class="loader-plane-ways-airport"></div>
          <div class="loader-plane-ways-code"></div>
        </div>
        <div class="loader-plane-ways-2">
          <div class="loader-plane-ways-airport"></div>
          <div class="loader-plane-ways-code"></div>
        </div>
      </div>
      <div class="loader-plane">
        <div class="loader-dot"></div>
        <div class="loader_solid_line" style="width: 2%;"><img src="../assets/icons/fa-solid_plane.svg" alt="plane icon"
            width="45" height="45"></div>
        <div class="loader_broken_line" style="width: 98%;"></div>
        <div class="loader-dot"></div>
      </div>
    </div>
    <div class="loadmap"><img src="../assets/imgs/map.svg" alt="map" width="1200" height="700"></div>
  </div>
</div>