<button class="show-more">
  <span><%- env.text %></span>
  <img class="show-more__img" src="<%= process.env['VITE_STATIC_PATH'] %>/icons/chevron-blue-double-down.svg" alt="chevrons down icon">
</button>