<div class="socials">
  <a href="https://www.facebook.com/profile.php?id=100090937400670"><img src="<%= process.env['VITE_STATIC_PATH'] %>/icons/facebook2.svg" alt="facebook2" width="32" height="32" /></a>
  <a href="https://www.linkedin.com/company/flyer-club/"><img src="<%= process.env['VITE_STATIC_PATH'] %>/icons/linkedin2.svg" width="32" height="32" alt="linkedin2" /></a>
  <a href="https://twitter.com/flyerclubinc"><img src="<%= process.env['VITE_STATIC_PATH'] %>/icons/twitter2.svg" width="32" height="32" alt="twitter2" /></a>
  <a href="https://www.instagram.com/flyerclubus/"><img src="<%= process.env['VITE_STATIC_PATH'] %>/icons/instagram-fill2.svg" width="32" height="32" alt="instagram2" /></a>
</div>