.find-ticket {
  display: flex;
  width: 343px;
  max-width: 100%;
  margin: 45px auto 0;
  padding: 24px 19px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: #f9fafb;
  position: relative;
  z-index: 1;
  @include grid-mn('md') {
      margin: 33px auto 0;
    padding: 24px;
    width: 629px;
  }
  // .find-ticket__nav

  &__form {
    padding: 0;
    @include grid-mn('md') {
      gap: 16px;
    }
    sl-input::part(form-control),
    div.form__input {
      box-shadow: 0px 4px 4px 0px rgba(10, 116, 215, 0.1);
      border: none;
    }
    sl-input::part(form-control),  div.form__input {
      height: 79px;
    }
    sl-input{
      &::part(form-control-help-text){
        margin: 0;
      }
    }
    .form__text {
      margin: 0;
    }
    sl-button[type=submit] {
      margin-top: 0;
    }
  }
  // .find-ticket__form
  &__nav {
    height: 100%;
    max-width: 100%;
    &::part(nav) {
      margin: 0 -5px;
      @include grid-mn('md') {
        margin: 0;
      }
    }
    &::part(base) {
      height: 100%;
    }
    &::part(body) {
      height: 100%;
    }
    &::part(tabs) {
      display: flex;
      gap: 9px;
      border-bottom: none;
      padding: 0 0 17px;
      @include grid-mn('md') {
            gap: 18px;
        justify-content: center;
      }
    }
    &::part(active-tab-indicator) {
      display: none;
    }
    > sl-tab-panel {
      &::part(base) {
        padding: 0 0 0px;
        @include grid-mn('md') {
          // padding: 0 0 20px;
        }
      }
    }
    > sl-tab {
      &::part(base) {
        display: flex;
        padding: 10px 8px;
        justify-content: center;
        align-items: center;

        color: #a5a7ac;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 4px;
        transition: all 0.3s ease-in-out;
      }
      &[active]::part(base) {
        background: var(--White, #fff);
        box-shadow: 0px 4px 4px 0px rgba(10, 116, 215, 0.1);
        color: #00091c;
      }
    }
  }

  .form {
    &__fields {
      gap: 8px;
      @include grid-mn('md') {
        justify-content: space-between;
      }
      &-search {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        @include grid-mn('md') {
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
    &__exchange-button {
      border: none;
      background: transparent;
      position: absolute;
      top: 50%;
      left: auto;
      right: 4px;
      transform: translateY(-50%);
      z-index: 1;
      @include grid-mn('md') {
        left: 50%;
        right: auto;
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }
}
