.find-ticket {
  display: flex;
  width: 330px;
  margin: 0 auto;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: #f9fafb;
  position: relative;
  z-index: 1;
  @include grid-mn('md') {
    width: 629px;
  }
  // .find-ticket__nav

  &__form {
    padding: 0 5px;
    sl-input::part(form-control),
    div.form__input {
      box-shadow: 0px 4px 4px 0px rgba(10, 116, 215, 0.1);
      border: none;
    }
  }
  // .find-ticket__form
  &__nav {
    height: 100%;
    max-width: 100%;
    &::part(nav) {
      margin: 0 -20px;
      @include grid-mn('md') {
        margin: 0;
      }
    }
    &::part(base) {
      height: 100%;
    }
    &::part(body) {
      height: 100%;
    }
    &::part(tabs) {
      display: flex;
      gap: 9px;
      border-bottom: none;
      padding: 0 5px 24px;
      @include grid-mn('md') {
        justify-content: center;
      }
    }
    &::part(active-tab-indicator) {
      display: none;
    }
    > sl-tab-panel {
      &::part(base) {
        padding: 0 0 0px;
        @include grid-mn('md') {
          padding: 0 0 20px;
        }
      }
    }
    > sl-tab {
      &::part(base) {
        display: flex;
        padding: 10px 8px;
        justify-content: center;
        align-items: center;

        color: #a5a7ac;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 4px;
        transition: all 0.3s ease-in-out;
      }
      &[active]::part(base) {
        background: var(--White, #fff);
        box-shadow: 0px 4px 4px 0px rgba(10, 116, 215, 0.1);
        color: #00091c;
      }
    }
  }

  .form {
    &__fields {
      gap: 8px;
      @include grid-mn('md') {
        justify-content: space-between;
      }
      &-search {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        @include grid-mn('md') {
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
    &__exchange-button {
      border: none;
      background: transparent;
      position: absolute;
      top: 50%;
      left: auto;
      right: 16px;
      transform: translateY(-50%);
      z-index: 1;
      @include grid-mn('md') {
        left: 50%;
        right: auto;
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }
}
