<div class="hero__slider">
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <% for(var i=0; i < env.cards.length; i++) { %>
        <%- include('templates/layouts/sections/hero/heroSlide.ejs', { 
          env: env.cards[i]
        }) %>
     <% } %>
    </div>
  </div>
  <div class="hero__nav">
    <div class="swiper-scrollbar"></div>
    <div class="hero__nav-block">
      <div class="swiper-button-prev">
        <img src="/icons/rounded-arrow-left.svg" alt="rounded-arrow-left"> 
      </div>
      <div class="swiper-button-next">
        <img src="/icons/rounded-arrow-right.svg" alt="rounded-arrow-right">
      </div>
    </div>
  </div>

</div>