<div class="hero-partners">
  <ul class="hero-partners__list">
    <li class="hero-partners__item">
      <a href="#" class="hero-partners__link">
        <img src="/icons/partner1.svg" alt="partner 1" class="hero-partners__logo" />
        <span class="hero-partners__link-text">
          Deutsche Lufthansa AG 
        </span>
      </a>
    </li>
    <li class="hero-partners__item">
      <a href="#" class="hero-partners__link">
        <img src="/icons/partner2.svg" alt="partner 2" class="hero-partners__logo" />
        <span class="hero-partners__link-text">
          Emirates Airline
        </span>
      </a>
    </li>
    <li class="hero-partners__item">
      <a href="#" class="hero-partners__link">
        <img src="/icons/partner3.svg" alt="partner 3" class="hero-partners__logo" />
        <span class="hero-partners__link-text">
          Turkish Airlines
        </span>
      </a>
    </li>
    <li class="hero-partners__item">
      <a href="#" class="hero-partners__link">
        <img src="/icons/partner4.svg" alt="partner 4" class="hero-partners__logo" />
        <span class="hero-partners__link-text">
          British Airways plc
        </span>
      </a>
    </li>
    <li class="hero-partners__item">
      <a href="#" class="hero-partners__link">
        <img src="/icons/partner5.svg" alt="partner 5" class="hero-partners__logo" />
        <span class="hero-partners__link-text">
          American Airlines, Inc
        </span>
      </a>
    </li>
    <li class="hero-partners__item">
      <a href="#" class="hero-partners__link">
        <img src="/icons/partner6.svg" alt="partner 6" class="hero-partners__logo" />
        <span class="hero-partners__link-text">
          Swiss International Air Lines AG
        </span>
      </a>
    </li>
    <li class="hero-partners__item">
      <a href="#" class="hero-partners__link">
        <img src="/icons/partner7.svg" alt="partner 7" class="hero-partners__logo" />
        <span class="hero-partners__link-text">
          Air New Zealand Limited
        </span>
      </a>
    </li>
  </ul>
  <button class="hero-partners__button">
    <span>All Partners</span>
    <img src="/icons/chevrons-down.svg" alt="chevrons down icon">
  </button>
</div>
