<div class="price">
  <p class="price__title">
    STARTING FROM
  </p>
  <div class="price__info">
    <p class="price__cost">$<%= env.price %>*</p>
    <p class="price__text">Our price, r/t</p>
  </div>
</div>