<!-- <div class="parallax">
  <picture class="parallax__image">
    <source type="image/webp" media="(min-width: 576px)" srcset="/images/desktop/hero-bg_desktop.webp, /images/desktop/hero-bg_desktop@2x.webp 2x">
    <source type="image/png" media="(min-width: 576px)" srcset="/images/desktop/hero-bg_desktop.png, /images/desktop/hero-bg_desktop@2x.png 2x">
    <source type="image/webp" srcset="/images/mobile/hero-bg_mobile.webp, /images/mobile/hero-bg_mobile@2x.webp">
    <source type="image/png" srcset="/images/mobile/hero-bg_mobile.png, /images/mobile/hero-bg_mobile@2x.png">
    <img class="hero__bg-image" src="/images/mobile/hero-bg_mobile.png" srcset="/images/mobile/hero-bg_mobile@2x.png 2x"  alt="hero background image" width="375" height="776">
  </picture>
</div> -->
<%- include('templates/components/parallax/parallaxBg.ejs', {
  env: {
    fileName: 'hero-bg',
    imageClass: 'hero__bg-image',
    alt: 'hero background image',
    type: 'png',
    defaultWidth: '1920',
    defaultHeight: '1029',
  }
}) %>