<div class="swiper-slide">
  <div class="hero-card">
    <%- include('templates/components/adaptivePicture/adaptivePicture.ejs', {
      env: env.image
    }) %>
    <div class="hero-card__content">
      <p class="hero-card__title"><%- env.title %></p>
      <div class="hero-card__info">
        <div class="hero-card__info-cost">
          <p class="hero-card__retail-cost"><%- env.retailPrice %></p>
          <p class="hero-card__our-cost"><%- env.ourPrice %></p>
        </div>
        <div class="hero-card__info-text">
          <p class="hero-card__retail-text">Retail price</p>
          <p class="hero-card__our-text">Our price, r/t</p>
        </div>
      </div>
    </div> 
  </div>
</div>