<section class="section services">
  <div class="container">
    <ul class="services__list">
      <li class="services__item">
        <img src="<%= process.env['VITE_STATIC_PATH'] %>/icons/services-shield.svg" alt="services icon" class="services__item-image" />
        <p class="services__item-title">Trusted security</p>
        <p class="services__item-text">You can be sure of the security of your personal data</p>
      </li>
      <li class="services__item">
        <img src="<%= process.env['VITE_STATIC_PATH'] %>/icons/services-guarantee.svg" alt="services icon" class="services__item-image" />
        <p class="services__item-title">Satisfaction Guarantees</p>
        <p class="services__item-text">Our guarantee will provide you with confidence in the quality of our services.</p>
      </li>
      <li class="services__item">
        <img src="<%= process.env['VITE_STATIC_PATH'] %>/icons/services-24-hours.svg" alt="services icon" class="services__item-image" />
        <p class="services__item-title">Support 24/7</p>
        <p class="services__item-text">Our support is available 24/7, ready to help you at any time.</p>
      </li>
    </ul>
  </div>
</section>
