<div class="form__fields">
  <div class="dynamic-groups">
  </div>

  <%- include('templates/layouts/forms/flightForm/staticContent.ejs', {
    env: {
      formName: env.formName
    }
  }) %>
</div>

<%- include('templates/components/button/slButton.ejs', {
  env: {
    classes: 'btn-primary btn-xl',
    type: 'submit',
    variant: 'primary',
    content: 'Submit',
  }
}) %>