<div class="form__fields">
  <div class="dynamic-groups">
    <%- include('templates/components/form/dynamicGroup.ejs', {
      env: {
        staticContentObject: {
          dynamicGroupContent: {
            path: 'templates/layouts/forms/flightForm/dynamicGroupContent.ejs',
            params: {
              static: true,
              groupIndex: env.groupIndex,
              dateCount: env.dateCount,
              formName: env.formName
            }
          },
          buttonAdd: {
            path: 'templates/components/button/slButton.ejs',
            params: {
              classes: 'btn-sm dynamic-group__button dynamic-group__button-add',
              variant: 'primary',
              content: 'Add flight',
              outline: 'true'
            }
          },
          buttonDelete: {
            path: 'templates/components/button/slButton.ejs',
            params: {
              classes: 'btn-sm dynamic-group__button dynamic-group__button-delete',
              variant: 'warning',
              content: 'Delete',
            }
          }
        }
      }
    }) %>
  </div>

  <%- include('templates/layouts/forms/flightForm/staticContent.ejs', {
    env: {
      formName: env.formName
    }
  }) %>
</div>

<%- include('templates/components/button/slButton.ejs', {
  env: {
    classes: 'btn-primary btn-xl',
    type: 'submit',
    variant: 'primary',
    content: 'Submit',
  }
}) %>