<div class="form__fields">
  <div class="dynamic-groups">
  </div>

  <%- include('templates/layouts/forms/flightForm/staticContent.ejs', {
    env: {
      formName: env.formName
    }
  }) %>
</div>
<%- include('templates/layouts/forms/flightForm/staticFooter.ejs') %>