@use 'sass:map';

.header {
  z-index: 25;
  position: sticky;
  top: 0;
  width: 100%;
  background: transparent;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  height: map.get($header-height, 'xs');
  @include grid-mn('md') {
    height: map.get($header-height, 'md');
  }
  @include grid-mn('xlg') {
    height: map.get($header-height, 'xlg');
  }
  @include grid-mn('xl') {
    height: map.get($header-height, 'xl');
  }
  > .container {
    height: 100%;
    @include grid-mx('md') {
      padding: 0 16px;
    }
  }
  &__right-side {
    padding-right: 57px;
    @include grid-mn('md') {
      padding-right: 64px;
    }
    @include grid-mn('xmd') {
      display: flex;
      align-items: center;
      gap: 15px;
      padding-right: 49px;
    }
    @include grid-mn('xlg') {
      display: flex;
      align-items: center;
      gap: 16px;
      padding-right: 0px;
    }
    > .btn-sm {
      display: none;
      @include grid-mn('xmd') {
        display: block;
      }
    }
  }
  &__inner {
    height: 100%;
    padding: 0 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include grid-mn('xlg') {
      padding: 12px 0;
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
    width: 100%;
    max-width: 106px;
    > img {
      display: block;
      max-width: 100%;
    }
    @include grid-mn('md') {
      max-width: 172px;
      padding: 0 8px;
    }
  }
}

.working-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 8px;
  color: var(--White-Smoke, #fafafa);
  font-family: Inter;
  transition: color 0.3s ease-in-out;

  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;

  @include grid-mn('md') {
    padding: 4px 16px;
    font-size: 16px;
    line-height: 16px; /* 100% */
  }
  @include grid-mn('xmd') {
    > img {
      display: block;
      width: 40px;
    }
  }
  @include grid-mn('xlg') {
    font-size: 14px;
    line-height: 16px; /* 114.286% */
  }
  &:hover {
    color: var(--light-gray, #cecece);
  }
  > span {
    display: inline-block;
    width: 110px;
    @include grid-mn('md') {
      width: 147px;
    }
    @include grid-mn('xlg') {
      width: 128px;
    }
  }
}
