@use 'sass:map';

.preheader {
  width: 100%;
  position: relative;
  z-index: 1;
  background: white;
  padding: 3px;
  height: map.get($preheader-height, 'xs');
  @include grid-mn('md') {
    height: map.get($preheader-height, 'md');
  }
  @include grid-mn('xlg') {
    height: map.get($preheader-height, 'xlg');
  }
  @include grid-mn('xl') {
    height: map.get($preheader-height, 'xl');
  }
  > .container {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 100%;
    @include grid-mx('md') {
      padding: 0 0;
    }
    :nth-child(1) {
      .preheader__block-image {
        width: 28px;
      }
    }
    :nth-child(2) {
      .preheader__block-image {
        width: 30px;
      }
    }
    :nth-child(3) {
      .preheader__block {
        gap: 7px;
      }
      .preheader__block-image {
        width: 52px;
      }
      .stars__star {
        height: 10px;
        width: 10px;
        min-width: 10px;
        > img {
          display: block;
          height: 6.8px;
          width: 6.8px;
          min-width: 6.8px;
        }
        @include grid-mn('md') {
          width: 17.171px;
          min-width: 17.171px;
          height: 17.171px;
          > img {
            height: 11.5px;
            width: 11.5px;
            min-width: 11.5px;
          }
        }
      }
    }
    @include grid-mn('md') {
      gap: 24px;
      :nth-child(1) {
        .preheader__block-image {
          width: 41px;
        }
      }
      :nth-child(2) {
        .preheader__block-image {
          width: 39px;
        }
      }
      :nth-child(3) {
        .preheader__block {
          gap: 14px;
        }
        .preheader__block-image {
          width: 88px;
        }
      }
    }
  }

  // .preheader__block

  &__block {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  // .preheader__block-image

  &__block-image {
  }

  // .preheader__block-content

  &__block-content {
    color: var(--Steel-Blue, #667085);
    font-size: 8px;
    line-height: normal;
    font-weight: 600;
    @include grid-mn('md') {
      font-size: 10px;
    }
  }
}
