.preheader {
  width: 100%;
  position: relative;
  z-index: 1;
  background: white;
  padding: 3px;
  .container {
    display: flex;
    justify-content: center;
    gap: 20px;
    :nth-child(1) {
      .preheader__block-image {
        width: 28px;
      }
    }
    :nth-child(2) {
      .preheader__block-image {
        width: 30px;
      }
    }
    :nth-child(3) {
      .preheader__block {
        gap: 7px;
      }
      .preheader__block-image {
        width: 52px;
      }
      @include grid-mx('md') {
        .stars__star {
          height: 10px;
          width: 10px;
          min-width: 10px;
          > img {
            display: block;
            height: 6.8px;
            width: 6.8px;
            min-width: 6.8px;
          }
        }
      }
    }
    @include grid-mn('md') {
      gap: 24px;
      :nth-child(1) {
        .preheader__block-image {
          width: 41px;
        }
      }
      :nth-child(2) {
        .preheader__block-image {
          width: 39px;
        }
      }
      :nth-child(3) {
        .preheader__block {
          gap: 14px;
        }
        .preheader__block-image {
          width: 88px;
        }
      }
    }
  }

  // .preheader__block

  &__block {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  // .preheader__block-image

  &__block-image {
  }

  // .preheader__block-content

  &__block-content {
    color: var(--Steel-Blue, #667085);
    font-size: 8px;
    line-height: normal;
    font-weight: 600;
    @include grid-mn('md') {
      font-size: 10px;
    }
  }
}
