@font-face {
  font-family: 'Montserrat';
  src:
    url('/static/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('/static/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('/static/fonts/Montserrat-Bold.woff2') format('woff2'),
    url('/static/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('/static/fonts/Montserrat-Medium.woff2') format('woff2'),
    url('/static/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('/static/fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('/static/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src:
    url('/static/fonts/Inter-Regular.woff2') format('woff2'),
    url('/static/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
    url('/static/fonts/Inter-Medium.woff2') format('woff2'),
    url('/static/fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
    url('/static/fonts/Inter-SemiBold.woff2') format('woff2'),
    url('/static/fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
    url('/static/fonts/Inter-Bold.woff2') format('woff2'),
    url('/static/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
