:root {
  //   --primary-blue-5: #f2f5fe;
  //   --primary-blue-100: #0a74d7;
  //   --primary-blue-200: #044786;
  //   --bg-color-500: #1034a6;
  --bg-color-footer: #e9eefe;

  //   --black-8: #ecedee;
  //   --black-5: #fafafa;
  //   --black-10: #babbbd;
  //   --black-40: #7c8089;
  //   --black-60: #535966;
  //   --black-80: #2a3243;
  //   --black-100: #00091c;
  //   --white: #fffdfd;

  //   --seconady-gradient: #0a74d7;

  //   --max-width: 1276px;
  //   --primary-yellow-50: #fff7df;
  //   --primary-yellow-500: #ffc000;
  //   --primary-yellow-700: #fd9f00;

  --large-screen: 1024px;
  --medium-screen: 768px;
  --small-screen: 576px;
  --tiny-screen: 375px;
  --danger: #e40000;

  /* VARIABLE COLLECTION */
  --dark-blue: #2a3243;
  --azure-blue: #0a74d7;
  --slate-gray: #7c8089;
  --white: #ffffff;
  --steel-blue: #667085;
  --white-smoke: #fafafa;
  --orange: #fd9f00;
  --light-gray: #cecece;
}

$STATIC_PATH: '/static';

$container-width: (
  xs: 319px,
  md: 648px,
  xmd: 904px,
  xlg: 1224px,
  xxl: 1632px,
);

$container-bs-gutter: (
  xs: 56px,
  md: 120px,
  xlg: 216px,
  xxl: 288px,
);

$preheader-height: (
  xs: 36px,
  md: 41px,
  xlg: 46px,
  xl: 51px,
);

$header-height: (
  xs: 59px,
  md: 80px,
  xmd: 80px,
  xlg: 88px,
  xl: 88px,
);
$hero-height: (
  xs: 853px,
  md: 983px,
  xmd: 811px,
  xlg: 854px,
  xl: 1029px,
);
