<!doctype html>
<html lang="en">
  <head>
    <%- include('templates/layouts/head') %>
  </head>

  <body>
    <%- include('templates/layouts/sections/preheader/preheader.ejs') %> 
    <%- include('templates/layouts/header.ejs') %> 
    <main>
      <%- include('templates/layouts/sections/hero/hero.ejs') %>
      <%- include('templates/layouts/breadcrumbs/breadcrumbs.ejs', { 
        env: {
          breadcrumbs: [
            {
              title: 'Home page',
              link: '/',
            },
            {
              title: 'Destinationse',
              link: '/destinations',
              classes: 'active'
            }
          ]
        }
      }) %>

      <%- include('templates/layouts/sections/book/bookSections.ejs') %>

      <section id="trustpilotReviews" class="trustpilot-reviews section"></section>
      <%- include('templates/layouts/sections/contacts/contacts.ejs') %>
      <%- include('templates/layouts/sections/services/services.ejs') %>
      <%- include('templates/layouts/sections/subscribe/subscribe.ejs') %>
    </main>
    <%- include('templates/layouts/dialog/dialogFlight.ejs') %>
    <%- include('templates/layouts/dialog/dialogPartners.ejs') %>
    <%- include('templates/layouts/footer.ejs') %>
    <%- include('templates/layouts/preloader.ejs') %>
  </body>
</html>
