<% if(typeof env !=='undefined' ){ %>
  <div class="<% if(env.classes){ %><%=env.classes%><% } %> stars">
      <% if(env.static){ %>
        <% env.starElements.forEach(function(starElement){ %>
          <%- include('reviewStar.ejs', { env: { classes: starElement.classes } }); %>
        <% }) %>
      <% } else{ %>
        <%- env.starElements %>
      <% } %>
    </div>
<% } %>