<div class="form__fields">
  <%- include('templates/components/inputs/slInput.ejs', {
    env: {
      tooltip: true,
      classes: 'form__input form__field',
      name: 'city',
      id: 'subscribeCity',
      validate: 'minLength:2;required;letters',
      label: 'Your city',
      placeholder: 'Enter city',
      autocomplete: true
    }
  }) %>
  <%- include('templates/components/inputs/slInput.ejs', {
    env: {
      tooltip: true,
      classes: 'form__input form__field',
      name: 'email',
      id: 'subscribeEmail',
      validate: 'email;required',
      label: 'Your email',
      placeholder: 'Enter your email',
      autocomplete: true
    }
  }) %>
</div>
<%- include('templates/layouts/texts/formTermsText.ejs') %>
<%- include('templates/components/button/slButton.ejs', {
  env: {
    classes: 'btn-primary btn-sm',
    type: 'submit',
    variant: 'primary',
    content: 'Subscribe',
  }
}) %>